<%- include("partials/header") %>
<title>Resonance and curly arrows</title>
<meta name="description" content="Understanding the role of curly arrows when drawing resonance forms">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

	<h1>Resonance and curly arrows</h1>
	<p><i>10th Apr 2020</i></p>

    <p>
        In this article, I will present some guidelines about how to draw and follow curly arrow notation (Figure 10.1) when drawing resonance structures (resonance forms). Along the way, I will also justify the application of curly arrows by examining the electronic properties of molecules. I will explain the application of curly arrow notation pertaining to reaction mechanisms in a separate series of articles.
    </p>   

        <figure>
            <img img alt="The curly arrow" src="images/Fig10_1_curlyArrow.svg" class="mx-auto img-fluid d-block" style="width: 100%">
            <figurecaption>Figure 10.1 The curly arrow</figurecaption>
        </figure>
    
    <p>
        The curly arrow is usually described as a symbol which shows the movement of a pair of electrons. The electrons start at the tail of the arrow and end up at the head of the arrow. The curly arrow is a somewhat challenging tool to grasp at first, partly because the rules, principles and experimental data which govern their correct use are not always explained from the beginning. Students are not only having to comprehend the symbols and properties of new chemical species but in some cases also propose resonance structures.
    </p>

    <p>
        Before reading this article you should be familiar with the shapes of <a href="7_AtomicOrbitals">atomic</a> and <a href="9_Hybridisation">hybrid</a> orbitals, and the consequences of <a href="4_Resonance">resonance</a>. You also need to know how to assign the hybridisation of an atom in a molecule and how to assign <a href="3_OxidationStates">formal charge</a>. Some familiarity with the structural formula (or Lewis structures) of organic compounds may help with the latter stages of this article.
    </p>

    <h3>The purpose of curly arrows</h3>

    <p>
        Curly arrows show the movement of a pair of electrons, or, at least this is how they are commonly described when first introduced. I prefer to think of curly arrows as a way to <i>communicate</i> the differences of the positions of a pair of electrons for the structural formula or Lewis structure (on paper) in question. They are not meant to indicate <i>how</i> electrons change position in the molecule itself. We would, after all, be making a lot of assumptions about the properties of electrons if they really did <i>move</i> in pairs precisely from one point to another. There might be an extra step in the electron transfer process which we have neglected. No-one has observed the movement of electrons though clearly something about the position of electrons has to change (something has got to move) if we are to explain any chemical transformations.
    </p>
    <p>
        Like resonance and formal charge, curly arrows are our human invention and attempt to convey experimental facts through symbols and notation as clearly and generally as possible. Sometimes the notation is well suited in some cases but less so for others. Furthermore, the spoken (or here, written) language implies that bonds are broken or formed as stated. For example, I will use phrases such as 'bond breaking' and 'bond forming' when relating resonance structures. The reality is I am not suggesting that bonds form or break precisely as I describe but actually I am trying to communicate the changes needed to distinguish between one resonance form and another.
    </p>

    <p>
        However you define curly arrows, they do present a number of benefits:
    </p>

    <ul>
        <li>The correct use of the curly arrow helps us to methodically list each resonance structure while keeping the total number of electrons constant</li>
        <li>They allow chemists to present their ideas clearly and concisely, showing what happens when atoms approach</li>
    </ul>

    <p>
        The present day use of the curly arrow is largely unchanged since its inception. The curly arrow was first put to use in a <a href="https://doi.org/10.1039%2FCT9222100427">paper</a> by a British chemist, Sir Robert Robinson in 1922.</a>.
    </p>

    <h3>Resonance forms and delocalisation</h3>

    <p>
        Curly arrows are often helpful when we want to relate different resonance forms. My own personal approach to viewing resonance form transformations, applied to examples taught at this level, involves a few preliminary stages before putting pen to paper, drawing arrows. Where available, I look for experimental data. There are various practical techniques which measure bond lengths and bond angles. One commonly used technique is known as X-ray crystallography. The data is normally stored in a CIF file (Crystallographic Information File) and published along with the authors' research paper. There are a number of CIF databases and viewers available (for example, <a href="https://www.ccdc.cam.ac.uk/">CCDC</a> and the <a href="http://www.crystallography.net/cod/">Crystallography Open Database</a>) however many of the tools are probably too advanced for our purposes.
    </p>
    <p>
        Chemists usually have some idea about the structure of the compound of interest either by comparing experimental data with known examples, or from knowing the sequence of reactions needed to produce the compound. For this article, I will assume that you are supplied with at least one structural/Lewis structure. Here is my general approach to the application of theoretical concepts (orbitals) to experimental data:
        <ol>
            <li>
                I usually want to know about bond lengths and bond angles. Why? Bond lengths tell me how much &#963-bond character and how much &#960-bond character is present. Long, single bonds are mostly &#963-bond in character and short, double bonds are both &#963- and full &#960-bond in character. Bonds intermediate of single and double bond length are usually indicative of partial double bond and partial &#960-bond character. Bond angles describe the geometry at the atom and will aid in the orientation of the orbitals.
                <ol type="a">
                    <li>If I can get access to the structural data then I deduce the hybridisation of each atom, in agreement with the data (not the other way round). Sometimes, agreeing with the data can involve applying one or two exceptions to the <a href="9_Hybridisation#assignHybrids">guidelines</a>.</li>
                    <li>If I cannot find structural data, then I follow the guidelines without significant modification. The more experience I have, the more likely I am going to apply a few exceptions. This is where differences of opinion sometimes arise and it is important to note if and what assumptions were made.</li>
                </ol>
            </li>
            <li>I then look for partially full atomic and hybrid orbitals, and then see if I can 'move' electrons around (delocalise the electrons). In line with the ideas about the mixing of atomic and the mixing of hybrid orbitals, <b>electrons can only be delocalised between atomic or hybrid orbitals if the orbitals overlap, and then only if the orbitals are not already full.</b> One can also consider the mixing of molecular orbitals, which themselves are derived from atomic orbitals; however, we will not be able to discuss molecular orbitals in sufficient detail to include such considerations here. Overall, you will see that valid orbital interactions typically involves &#960-bonds and p-orbitals with the potential to form &#960-bonds. Recall that &#960-bonds are relatively weak and so the &#960-electrons are not tightly held to the nuclei. This also means that &#960-electrons can 'flow' above and below the more permanent, tightly-held &#963-framework (network of &#963-bonds), as the &#960-electrons try to avoid one another.</li>
        </ol>
    </p>

    <p>
        Once I know if electrons can be relocated, then I start drawing curly arrows. Let us see some of these procedures in action. I will discuss the formate anion HCOO<sup>-</sup> before benzene C<sub>6</sub>H<sub>6</sub> and related compounds.
    </p>

    <h4>Background to a resonance form of formate HCOO<sup>-</sup></h4>

    <p>
        Just as most chemical equations are written left-to-right, most authors tend to draw the curly arrows to indicate the new position of the electrons for the resultant (right-hand) resonance form. The structural formula of the formate anion is given in Figure 10.2(a). <a href="https://doi.org/10.1021/ja01862a007">Evidence</a> indicates that both carbon-oxygen bond lengths are 1.27 &#8491 despite, on first glance, the presence of longer single C-O and shorter double C=O bonds. As I explained <a href="4_Resonance">in my article about resonance</a>, the discrepancies between the experimental data and the structural formula are really to do with the limitations of chemical notation.
    </p>
    <p>
        It is also evident that all of the atoms in formate are co-planar, with the central carbon atom possessing a trigonal planar geometry. How do we account for all of these observations?
    </p>

    <figure>
        <img img alt="The formate anion" src="images/Fig10_2_Formate.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.2 The formate anion</figurecaption>
    </figure>

    <p>
        We begin by matching the geometry of the formate anion with the appropriate hybridisation of carbon and oxygen, as much as possible. Given that the carbon atom is trigonal planar in formate, it appears then that carbon is sp<sup>2</sup>-hybridised. We would need to form a &#960-bond with one oxygen atom but if both carbon-oxygen bonds are the same length and are short for a carbon-oxygen single bond (which are typically on average 1.40 &#8491) then we probably need to have some degree of &#960-bond with both oxygen atoms. We will treat both the neutral oxygen and the anionic oxygen as sp<sup>2</sup>-hybridised. You may rightly think that we should assign the anionic oxygen as sp<sup>3</sup>-hybridised (see the <a href="9_Hybridisation#assignHybrids">guidelines</a> I laid out). Remember, we are aiming to describe bonds which are uniform (have consistent electronic structure) across the ion. Therefore, we make an exception: an ion composed of three sp<sup>2</sup>-hybridised atoms provides a more consistent electronic structure, than an ion composed of two sp<sup>2</sup>-hybridised atoms and one sp<sup>3</sup>-hybridised atom.
    </p>
    <p>
        We already know that the overlap of two p-orbitals, leading to a &#960-bond (a &#960-molecular orbital), means that the &#960-electrons occupy a region above and below the &#963-bond. This time (Figure 10.2(b)) having three p-orbitals (two of which are partially full) parallel and overlapping literally extends the idea: the p-electrons now occupy a region over three atoms, not two. The continuous overlap of the p-orbitals represents a relatively large volume where electrons can be found and is key to explaining <i>how</i> we can distribute the electrons evenly. The result is one &#960-bond (from two of the three p-orbitals) with two electrons and one lone-pair p-orbital with two electrons.
    </p>

    <p>
        Here is an analogy. Imagine the overlapped p-orbitals behaving like a cardboard box. If you place the electrons in the box then they will spend most of their time spread out evenly over the volume of the box. Making the box bigger (<i>i.e.</i> adding more overlapping partially full p-orbitals) will cause the electrons to occupy a greater volume, all trying to get away from each other. The combination of the overlapping p-orbitals causes the electrons to be <b>delocalised</b> over three atoms equally, as opposed to being localised over one atom. We can express this concept to some degree with curly arrows.
    </p>

    <h4>Applying curly arrows to the resonance form of formate</h4>

    <p>
        The placement of the curly arrow is very important because it becomes all too easy (especially with very complicated molecules) to confuse the reader if the curly arrows are drawn in the wrong place. If you study organic chemistry at university then you might hear of the varying opinions about how to draw curly arrows, believe or not! For instance, some authors do not draw lone pairs on anions and use negative charges instead of lone pairs. I will not give an overly complicated viewpoint here.
    </p>
    
    <p>
        Let us use curly arrow notation to redistribute the &#960-electrons of formate, with an orbital diagram showing the differences (Figure 10.3(a)). We could break a covalent bond (in this case the weaker &#960-bond) and relocate the electrons as a lone pair on the neutral oxygen atom. At the same time we can also use a lone pair on the anionic oxygen to form a covalent bond. Carbon can only have eight outer electrons around it so it is necessary to form a &#960-bond and break a &#960-bond at the carbon centre at the same time. Figure 10.3(b) shows what happens if one forgets to break the &#960-bond.
    </p>

    <p>
        There are several points which you should always check when drawing and linking resonance forms:
        <ul>
            <li>Make sure the formal charges are correct</li>
            <li>Make sure the overall charge of the left-hand form is the same as the charge of the right-hand form</li>
            <li>Make sure that atoms do not have too many outer electrons around them</li>
        </ul>
        It will help, particularly at the early learning stages, if you draw lone pairs near the atoms undergoing change. Draw all atoms (including hydrogen) and bonds (as a displayed formula) so that you can keep track of bonding electrons.
    </p>

    <figure>
        <img img alt="Resonance of formate-like systems" src="images/Fig10_3_formateRes.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.3 The resonance forms of formate</figurecaption>
    </figure>

    <p>
        If we overlap both orbital diagrams and both resonance forms from Figure 10.3(a), we can see how our notation more closely agrees with the equal carbon-oxygen bond lengths in formate. The formate ion is not represented by just one orbital diagram or resonance form but by multiple forms. This is how you should view these sorts of diagrams in all other future discussions. Chemists will sometimes utilise one specific diagram or structure to explain a specific property but always remember that the chemical species is not described by one diagram or structure.
    </p>

    <p>
        The resonance forms are linked with a double-headed arrow &#8596. Note the precise positioning of the arrows from the oxygen lone pair. Here are my recommendations (refer to Figure 10.4):
    </p>

    <ol>
        <li>The tail of the arrow starts at the lone pair, nowhere else</li>
        <li>The arrow head should point directly in between the symbols for the carbon and oxygen atoms. Remember that the lone pair are used to form a &#963-bond, and bonding electrons are found <i>in between</i> nuclei, not <i>on</i> the nuclei.</li>
    </ol>

    <figure>
        <img img alt="How to correctly place curly arrows, when lone pairs are involved" src="images/Fig10_4_LonePairsCurlyArrows.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.4 How to place curly arrows, when lone pairs are involved</figurecaption>
    </figure>

    <p>
        The curly arrow used to illustrate the breaking of the carbon oxygen bond must also be drawn clearly. In this and similar cases, I advise students to:
            <ol>
                <li>Place the tail of the arrow near the centre of the covalent bond symbol</li>
                <li>Point the arrow head at the symbol for the (other bonding) oxygen atom</li>
            </ol>
            The above two points emphasise that the bonding electrons originated <i>in between</i> the nuclei and will eventually reside <i>on</i> the oxygen atom as a lone pair. Figure 10.5 gives you examples of how to and how not to place the curly arrow when breaking covalent bonds.
    </p>

    <figure>
        <img img alt="How to correctly place curly arrows, when covalent bonds are broken" src="images/Fig10_5_BondPairsCurlyArrows.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.5 How to place curly arrows, when covalent bonds are broken</figurecaption>
    </figure>

    <p>
        The application of the curly arrows pertaining to formate also carries across to other chemical systems with similar composition, which I have labelled :X-Y=Z (Figure 10.6(a)). All three atoms X, Y and Z are sp<sup>2</sup>-hybridised. You will probably see this again for other chemical systems and some students like to learn a more general method.
    </p>

    <p>
        As an exercise, look up and then see if you can apply these ideas to other carboxylic acid derivatives and carbonate anions. Notice how they all have :X-Y=Z (quite often, X and Z are highly electronegative atoms) somewhere as part of their structure. If atoms X and Z are the same, then it is likely that the Y-X and Y-Z bonds are identical. If the atoms X and Z are different then the bonds are very unlikely to be identical, even if we consider resonance. I have shown the resonance forms of the nitrate ion NO<sub>3</sub><sup>-</sup> (Figure 10.6(b)) for you to analyse and compare.
    </p>

    <figure>
        <img img alt="The resonance forms of the :X-Y=Z type systems and the nitrate anion" src="images/Fig10_6_Nitrate.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.6 The resonance forms of (a) :X-Y=Z type systems and (b) the nitrate anion</figurecaption>
    </figure>

    <h4>Using curly arrows to relate the resonance forms of benzene C<sub>6</sub>H<sub>6</sub></h4>

    <p>
        Previously, we learned that benzene can be represented by two resonance forms (<a href="4_Resonance#benzeneResonance">Figure 4.3</a>). We can use curly arrows to link both forms but the real question is what is it about benzene that allows one to delocalise the electrons? Well, the approach we follow is the same as that taken for the formate anion. First we need to know the experimental geometric properties of benzene and find out how this transfers to our theoretical models <i>i.e.</i> the orbitals. The evidence indicates that benzene is a planar molecule, with every carbon atom adopting a trigonal planar geometry. The carbon-carbon bonds are all identical. These observations are encouraging because they help us to predict the hybridisation: if the carbon atoms are all trigonal planar then it is likely that they are sp<sup>2</sup>-hybridised. What is more, it explains how the &#960-bonds are built up. One can eventually see that all six p-orbitals from all six sp<sup>2</sup>-hybridised carbon atoms overlap in a ring (Figure 10.7). Each p-orbital in benzene holds one electron. If we distribute the &#960-electrons equally over the entire ring (apply delocalisation) then it explains why all the bonds are identical. Returning to my analogy, the cardboard box is now shaped like a donut.
    </p>

    <figure>
        <img img alt="Delocalisation of the electrons in benzene" src="images/Fig10_7_benzene.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.7 How the &#960-system of benzene is built from the overlap of six p-orbitals</figurecaption>
    </figure>

    <p>
        If you agree with the delocalised orbital diagram shown in Figure 10.7 then you might have difficulty returning to the <a href="4_Resonance#benzeneResonance">resonance forms</a> in isolation.
    </p>
    
    <p>
        The curly arrows which relate the resonance forms of benzene are given in Figure 10.8. This example involves a new application of the curly arrow: to break a covalent bond and then immediately use the electron pair to form a neighbouring covalent bond. In some cases this can involve the breaking and forming of &#963-bonds; however, I think you are more likely to learn about the breaking and forming of &#960-bonds, at this stage. The &#960-bonds are relocated by studying the orbital diagram from Figure 10.8. Does this mean that all ringed-systems with sp<sup>2</sup>-hybridised atoms behave and can be described like benzene? Sadly, no. If we looked at the experimental data, we would notice that not all such systems are planar. Consequently, the p-orbitals would not overlap as they do in benzene and the electrons would not 'flow' over the &#963-framework.
    </p>

    <figure>
        <img img alt="Resonance forms of benzene" src="images/Fig10_8_benzeneRes.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.8 Resonance forms of benzene, with the &#960-electrons delocalised in a clockwise manner (the electrons can also be shown to delocalise in an anticlockwise manner)</figurecaption>
    </figure>

    <h3>Using curly arrows to relate the resonance forms of benzene-related compounds</h3>

    <p>
        Many of the properties of benzene are readily applicable to the properties of benzene-related compounds. We will look at benzoate ions C<sub>6</sub>H<sub>5</sub>COO<sup>-</sup>, nitrobenzene C<sub>6</sub>H<sub>5</sub>NO<sub>2</sub> and phenylamine C<sub>6</sub>H<sub>5</sub>NH<sub>2</sub> (Figure 10.9). I will summarise the key structural properties of each example, since there are some common features:
        <ul>
            <li>The covalent bond which links the benzene ring with the side-chain (the <i>substituent</i>, that is, the COO<sup>-</sup> group in benzoate, the NO<sub>2</sub> group in nitrobenzene and the NH<sub>2</sub> group in phenylamine) is slightly shorter than the corresponding single bond, and therefore indicative of some double-bond and &#960-bond character.</li>
            <li>Most of the time, all the atoms lie in the same plane. Consequently (with the exception of hydrogen) we assign all atoms as sp<sup>2</sup>-hybridised. See Figure 10.10(b).</li> 
            <li>The orbitals of the terminal oxygen atoms are described in the same way as the orbitals of oxygen in <a href="9_Hybridisation#CO2">carbon dioxide</a>.</li>
            <li>The carbon-oxygen bonds of the benzoate ion are equal in length. The nitrogen-oxygen bonds of nitrobenzene are also equal in length.</li>
            
        </ul>
    </p>

    <p>
        The combination of the above features probably means that we can delocalise electrons across all non-hydrogen atoms. We can propose very reasonable resonance forms for the three benzene-related compounds. The applications of the curly arrows are extensions of the principles set out above. We break a &#960-bond in one place and, either (i) immediately form a new &#960-bond nearby or (ii) assign the &#960-electrons as a lone pair. Most of the resonance forms are presented in Figure 10.9.
    </p>

    <figure>
        <img img alt="Resonance forms of benzene-related compounds" src="images/Fig10_9_benzeneCpds.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.9 Resonance forms of benzene-related compounds (the resonance forms are ordered in a clockwise manner)</figurecaption>
    </figure>

    <p>
        The resonance structures given in Figure 10.9 may look intimidating at first and I doubt that you would be expected to draw them all at this level. You will generally find that professional chemists avoid drawing the <a href="4_Resonance#benzeneResonanceForm">resonance hybrid form of benzene</a> when analysing the properties of the benzene ring itself. The benzene rings drawn in Figures 10.8 and 10.9 are sometimes referred to as the <i>Kekul&eacute structures of benzene</i> (named after a German chemist, August Kekul&eacute), where single and double-bonds are explicitly shown. Chemists sometimes prefer using the Kelul&eacute form because it explains many observations which the resonance hybrid form does not. For instance, you can see how the positive and negative formal charges can only be placed at specific carbon atoms in the ring. This specific placement of charge proves highly valuable when explaining the chemical reactivity of benzene, as you will see if you study this topic in more detail. It is not possible to use the resonance hybrid form to outline similar arguments. Chemists are more likely to draw the resonance hybrid form if they are focusing on other parts or aspects of the molecule.
        
    <p>
        What do the resonance forms demonstrate? As you can see, the nitro group NO<sub>2</sub> and the carboxylate group COO<sup>-</sup> have the effect of introducing a positive formal charge in the benzene ring. This positive charge is spread out, more or less evenly, across the ring. In contrast, the amino group NH<sub>2</sub> has the effect of introducing a negative formal charge into the ring. The amino group is an example of an <i>electron-releasing</i> or <i>electron-donating</i> group, effectively releasing electrons to other atoms or groups of atoms. The introduction of positive and negative charges is possible because there is a pathway for the electrons to migrate in between the p-orbitals of the substituent and the p-orbitals of the benzene ring (Figure 10.10(b)). For example, the amino group nitrogen has a lone pair which resides in a p-orbital (shaded in red, Figure 10.10(b)) which interacts with the benzene &#960-system. The electrons in the nitrogen p-orbital are donated (or repel, depending on how you look at it) to the benzene ring &#960-system, causing the ring electron density to increase. Is there any evidence to support all these resonance structures? There is, though the details will be explored elsewhere.**
    </p>

    <p>
        **If you study the organic chemistry of benzene then you will soon learn about the different reactivities of these compounds. For example, bromine water Br<sub>2</sub>(aq) reacts with each benzene-related compound to produce a mixture with a different composition. Chemists explain and account for this and a few other properties by drawing each resonance form. I will leave the detailed discussion of the chemistry of benzene to other articles.
    </p>

    <h3>The reactivity of methylbenene C<sub>6</sub>H<sub>5</sub>CH<sub>3</sub></h3>

    <p>
        The chemistry of methylbenzene C<sub>6</sub>H<sub>5</sub>CH<sub>3</sub> is usually studied at this level but rarely explained. I mention it here because the ideas follow neatly from the above discussion.
    </p>
    <p>
        The carbon atom of the CH<sub>3</sub> group (referred to as a <i>methyl</i> group) is sp<sup>3</sup>-hybridised, with all other carbon atoms being sp<sup>2</sup>-hybridised. Based on a number of experiments (see **) the electron density of the benzene ring in methylbenzene is slightly higher than benzene itself, though not quite as high as phenylamine (Figure 10.9). It seems that there should be a negative formal charge in the benzene ring of methylbenzene. How is this possible?
    </p>
    <p>
        The concept which explains the electron-releasing properties of the methyl group is given the rather grand title of <i>hyperconjugation</i> or <i>&#963-conjugation</i> which many undergraduate organic chemistry textbooks explain. The reason that the electron density is relatively high is due to the partial overlap of the C-H &#963-bond with the &#960-system of the benzene ring (Figure 10.10(a)). The C-H &#963-bond contains a pair of electrons and behaves a bit like the p-orbital lone pair of nitrogen in phenylamine.
    </p>

    <figure>
        <img img alt="Hyperconjugation of methylbenzene" src="images/Fig10_10_hyperconj.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.10 Interaction of the methyl C-H &#963-electrons with the &#960-system of the benzene ring (some electronic features have been omitted for brevity)</figurecaption>
    </figure>

    <p>
        You can think of the C-H &#963-bond subtly repelling the &#960-system, causing the benzene electron density to increase slightly (the electrons get concentrated more, away from the methyl group). By comparing Figures 10.10(a) and 10.10(b), you can see that the degree of overlap of the C-H &#963-bond is not as substantial as the overlap of a p-orbital. A resonance form, which is considered a little extreme by some, is given in Figure 10.10(c) and is comparable to the resonance forms of phenylamine C<sub>6</sub>H<sub>5</sub>NH<sub>2</sub>.
    </p>
    <p>
        The electron-releasing properties of methyl groups to partially-filled or empty p-orbitals is also documented elsewhere. For example, if you learn about S<sub>N</sub>1 reaction mechanisms or electrophilic addition reactions of alkenes, then you can apply hyperconjugation to the stabilising role of methyl groups. In these cases, the C-H &#963-electrons are released to the empty p-orbital of the carbocation, as opposed to a partially filled p-orbital in the benzene ring. We will go over these ideas again in future articles.
    </p>

    <h3>Examples of when electrons are less delocalised</h3>

    <p>
        We have spent a considerable amount of time discussing when electrons are delocalised. Delocalisation tends to operate over p-orbitals or &#960-systems. Let us finish this article by looking at examples where &#960-bonds are positioned closely but <i>do not</i> overlap.
    </p>
    <p>
        Take a simple example: carbon dioxide CO<sub>2</sub>. There are two &#960-bonds to carbon. Are the &#960-electrons delocalised? Well, the answer is no, they are not. You can see that the <a href="8_MixingOrbitals#carbon">&#960-bonds are orthogonal</a> to each other. This means that the molecular orbitals do not overlap and there there is no pathway for the &#960-electrons to delocalise. I note here that it would be difficult to find experimental evidence which supports or refutes these claims, since the properties of carbon dioxide would remain indistinguishable.
    </p>
    
    <p>
        Finally, consider the organic compound (referred to as a <i>biphenyl</i>) shown on the front page of LearningChem (Figure 10.11).
    </p>

    <figure>
        <img img alt="A biphenyl" src="images/Biphenyls.svg" class="rounded img-fluid mx-auto d-block">
        <figurecaption>Figure 10.11 An example of a biphenyl compound</figurecaption>
    </figure>

    <p>
        Each benzene ring is planar however both rings do not exist in the same plane. There is an angle (continuously changing) between each plane. Try holding out your hands flat in front of you, with both palms facing down, your middle fingers touching and fingers antiparallel. Your palms represent the plane of each ring. Now rotate one of your forearms until both palms are nearly orthogonal. This relationship between your hands is about the same as the relationship between both benzene rings. The reason why the rings are not coplanar is mainly due to the relatively large carboxyl COOH and nitro NO<sub>2</sub> groups which repel each other, preventing the two benzene rings from lying in the same plane (a bit like having very, very, very long thumbs and little fingers). The consequence of all this is that the &#960-system of one benzene ring is not delocalised with the &#960-system of the other ring. Hence the last resonance form shown at the bottom of  Figure 10.12 is mostly ignored (more correctly, has near zero contribution to the overall resonance hybrid). Biphenyl-type compounds are actively studied, notably for the varying orientations of the benzene ring, and are considered as candidates for <a href="https://www.nobelprize.org/prizes/chemistry/2016/press-release/">molecular motors and switches</a>.
    </p>

    <figure>
        <img img alt="Resonance structures of biphenyls" src="images/Fig10_12_biphenylRes.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption>Figure 10.12 Resonance structures of biphenyls</figurecaption>
    </figure>

    <p>
        You may have noticed a pattern: alternating single and double bonds allow for the delocalisation of electrons. This is true in many cases but not all. This example and all other examples should demonstrate to you the need to ascertain if orbitals overlap, before attempting to draw curly arrows.
    </p>

    <h3>Summary</h3>

    <p>
        The objectives of this article are to show you how to draw curly arrows clearly and justify their use. You may not realise it yet but you are becoming more equipped with the tools needed to explain a wide range of chemical phenomena. You would not be expected to fully analyse experimental data and present all resonance forms as I have but what I hope this discussion has provided is a justification about the use of curly arrows. Experience shows that your understanding of the ideas will take more time to develop, long into any prospective university course, so do not feel you should have a complete grasp of all of the material straight away. This article has set the foundation for more advanced study, particularly in regard to reaction mechanisms, which we will study in due course.
    </p>

<%- include("partials/footer") %>
