<%- include("partials/header") %>
<title>Non-ideal systems and concentration</title>
<meta name="description" content="The assumptions and consequences of ideality">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

	<h1>Non-ideal systems and concentration</h1>
	<p><i>13th Jul 2020</i></p>

	<p>
		The ideas of concentration and pressure are quite similar. They both express how much substance is spread across a given volume of space. In this article, we will look a little closer at what it means when we state the concentration or pressure of a system and become more aware of other considerations whenever we apply concentration and pressure. There are no advanced pre-requisites needed to follow the material below. All you will need is a familiarity with ideal gases and the autoionisation of water.
	</p>

	<h3>Ideal systems</h3>

	<p>
		Concentration and pressure can both be visualised by the density of matter in a given region (Figure 12.1).
	</p>

	<figure>
		<img img alt="The amount of matter spread across a given region" src="images/Fig12_1_concentrationPressure.svg" class="mx-auto img-fluid d-block" style="width: 100%">
		<figurecaption>Figure 12.1 Matter spread over a fixed volume of space</figurecaption>
	</figure>

	<p>
		If you think about it, there are a number of assumptions which apply when we state concentration. Perhaps the most important is that the particles are broken down into their most basic units <i>e.g.</i> free ions and free molecules. The expression "the concentration of glucose C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> in water" refers to the number of isolated glucose molecules in water, and not the number of 2C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> or (C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>)<sub>4</sub> units in water, for instance. The solute particles are all separated to the point where they do not collide or interact with each other. This situation should be familiar to you. It describes an <i>ideal system</i> and resembles an ideal gas.
	</p>

	<p>
		We can also describe solutions as ideal systems, specifically, as <i>ideal solutions</i> in very much the same way as we describe ideal gases. The solute particles are separated to the point where they do not interact with each other. Unlike an ideal gas, solute particles in a solution are surrounded by solvent particles.
	</p>

	<h3>Non-ideal systems</h3>

	<p>
		Let us change the conditions of the system. How would we increase the concentration? Quite simple, I hope: just add more solute and/or remove solvent to/from the system. This is all good but does this affect the chances of solute particles colliding with each other and therefore not behave ideally? It does. What we have just achieved is a migration from an ideal system to a <i>non-ideal system</i>.
	</p>

	<p>
		Any changes to the system which causes gas molecules or the solute to interact more leads to a shift from ideal to non-ideal. Gases which are observed at lower pressure and/or higher temperature are considered more ideal because the conditions reduce the extent to which the molecules interact. If we consider ideal solutions, for example, adding more sodium chloride NaCl to an aqueous solution of sodium chloride also increases the chances for free ions (Na<sup>+</sup> and Cl<sup>-</sup>) to collide, forming clusters such as NaCl<sub>(aq)</sub>. Adding more solute shifts the description of the system from "more ideal "to "less ideal" (Figure 12.2).
	</p>

	<figure>
		<img img alt="Shifting from an ideal system to a non-ideal system" src="images/Fig12_2_idealNonIdeal.svg" class="mx-auto img-fluid d-block" style="width: 100%">
		<figurecaption>Figure 12.2 Shifting from a more ideal system to a less ideal (more non-ideal) system</figurecaption>
	</figure>

	<p>
		In principle, virtually all systems are non-ideal (or "less ideal" or "more real") since gas molecules and solute particles do interact in their respective systems in most cases.
	</p>
	<p>
		The central question and theme of this article is what does this mean for "concentration" and "pressure"? If the gas molecules or solute particles start interacting in their respective systems, how would we state concentration?
	</p>

	<h3>Concentration and pressure</h3>

	<p>
		If we highlight the number of free ions or molecules present as we add more solute or remove solvent, you should be able to see that the number of free particles over the given volume is <i>lower</i> than expected. In other words, the actual concentration of the system is lower than expected if we ignore the clustered particles. Figure 12.3 presents a somewhat crude illustration of what is included and what is ignored regarding true concentration.
	</p>

	<figure>
		<img img alt="Representing the effective concentration" src="images/Fig12_3_effectiveConcentration.svg" class="mx-auto img-fluid d-block" style="width: 100%">
		<figurecaption>Figure 12.3 Representing the effective concentration</figurecaption>
	</figure>

	<p>
		Chemists refer to the true concentration as the <b>effective concentration</b> meaning that they are trying to indicate how many <i>free</i> particles there are per unit volume, while ignoring the clusters of particles. At a more advanced level, you will learn that the effective concentration is expressed as the <i>activity</i> of a solution.
	</p>

	<p>
		For gases, pressure is also dependent on the number of free particles present. If we increase the number of particles in a container, eventually, clusters would form and condense. Concomitantly, the pressure would increase and then start approaching a maximum. Towards the latter stage, the number of gaseous molecules which can exert a pressure is (also) lower than expected. If you study chemistry at degree level then you will learn about <i>fugacity</i>, which is a way of expressing <i>effective pressure</i>.
	</p>

	<h3>Applying the limits of concentration</h3>

	<p>
		You should see now that at very low <i>concentrations</i> (whatever that happens to be for given system) the assumed concentration is very close to the effective concentration. The system is behaving more ideally. As one attempts to increase concentration, the observed concentration and effective concentration start to diverge, and the system behaves less ideally.
	</p>

	<p>
		The consequences of divergence can be observed for any quantity or measure which incorporates 'concentration' as one of its factors. They are quite important when very accurate work is needed, particularly in the area of chemical thermodynamics (Gibbs free energy calculations and electrode potential calculations, to name a few). We will conclude this article with one example, the measurement of hydroxonium ion H<sub>3</sub>O<sup>+</sup> concentration or pH.
	</p>

	<h3>pH and effective concentration</h3>

	<p>
		You will probably be familiar with the concept of pH. It is a convenient scale used to measure the number of hydroxonium ions in a given volume.
	</p>

	<p>
		I prefer to express pH in terms of hydroxonium ions and not protons H<sup>+</sup> because I am of the view that free protons in water seldom exist, with all of the surrounding water molecules that can interact through the oxygen atom. Assuming all protons bond to water, then the concentration of protons is roughly the same as the concentration of hydroxonium ions.
	</p>

	<p id="example">
		H<sup>+</sup> + H<sub>2</sub>O &#8594 H<sub>3</sub>O<sup>+</sup>
	</p>
	
	<p>
		As a reminder, an aqueous acidic solution contains both hydroxonium cations and counter-anions A<sup>-</sup> (A could be Cl, NO<sub>3</sub> <i>etc.</i>).
	</p>

	<p id="example">
		HA + H<sub>2</sub>O &#8594 H<sub>3</sub>O<sup>+</sup> + A<sup>-</sup>
	</p>

	<p>
		The value of pH is given by <span id="example">pH = -log<sub>10</sub> [H<sub>3</sub>O<sup>+</sup>]</span>. Going back to the topic of this article, how does effective concentration influence the outcome of a pH calculation? If you were asked to calculate the pH of 1.00 M of aqueous hydrochloric acid HCl<sub>(aq)</sub> then you would proceed by making a number of assumptions. These would include:
	</p>

	<ul>
		<li>All hydrogen chloride HCl molecules are ionised, as expected by the definition of a strong acid</li>
		<li>All hydroxonium ions do not interact with each other or with their counter anions A<sup>-</sup></li>
	</ul>

	<p>
		You may or may not be aware of the second assumption, though hopefully after reading this article, you are aware of it. We will not try to measure or estimate the value at which concentration and effective concentration diverge. The main highlight here is that while by the formula, the pH of 1.00 M of aqueous hydrochloric acid is zero, in reality the pH is probably higher than this. Taking the ideas outlined in this article, the effective concentration of H<sub>3</sub>O<sup>+</sup> is lower than expected, and as a result, the pH would be higher. In practice, labelled bottles of strong acids probably contain quite a few clusters of <span id="example">H<sub>3</sub>O<sup>+</sup>.A<sup>-</sup></span> pairs, which do not contribute to the measure of concentration or pH.
	</p>

	<p>
		You may have asked about whether pH of aqueous solutions can be negative. From the formula, it is certainly possible but before performing the calculation, one would really need to measure and apply the effective concentration to the formula. The assumed concentration is greater than the true, effective concentration. This would show that negative pH values are not as prominent as one would expect. There are other factors to consider but such factors are described more appropriately in advanced texts.
	</p>
		
	<p>
		The sequence of arguments also apply to the effective concentrations and pH values of basic solutions. As an exercise, see if you can outline and apply the above ideas to an aqueous solution of sodium hydroxide NaOH, at low and high concentrations.
	</p>

	<p>
		Overall, we have considered some of the underlying and often overlooked aspects of concentration and how it influences other quantitative areas of chemistry. I recommend that you proceed as you have already done, following the formulae given and presenting your results as directed. However, be prepared to encounter differences with some experimental data. I would then ask yourself whether your assumptions about concentration and pressure (or indeed all other quantities) could help explain the differences.
	</p>
<%- include("partials/footer") %>
