<%- include("partials/header") %>
<title>Structure and bonding Part 1: Historical background</title>
<meta name="description" content="Historical background to the properties of electrons">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

	<h1>Structure and bonding Part 1: Historical background</h1>
	<p><i>19th Jan 2020</i></p>

	<p>
        This is the first in a series of articles on structure and bonding. After some thought, I decided it would be best if I cover this topic in its entirety, spending more time on the ideas and background which are not normally explained in detail while giving a brief rundown of ideas and methods which are. We will not need to concern ourselves with most of the mathematics behind the theory. There are no specific prerequisites for Part 1.
    </p>

    <h3>Electron shell models and its limits</h3>
    <p>
        So far we know about electron shells <i>e.g.</i> the electronic configuration of lithium Li is 2,1 and neon Ne is 2,8. Both elements are made up of atoms with two shells. There is a balance between the attractive forces of the nucleus and the repulsive forces of the neighbouring electrons. Placing too many electrons in a shell (whatever that amount happens to be) leads to a situation where the electrons would experience repulsion overall, making the atom unstable.</p>
    <p>
        We will soon realise is that the current description of the atom is still valid but requires more refinement in order to try to explain many experimental results. The analogy I like to use is related to giving directions. If you were a courier and were asked to locate my house or workplace and I only gave you the city name, then you would still have a challenging time trying to find me. If I gave you my district or road name, then you would more likely succeed. The city name is not wrong, just as the electron shell label is not wrong. A courier would need more detailed instructions in order to locate me, just as chemists need to describe the location of electrons more accurately in order to better understand the properties of atoms and molecules. We are going to expand the idea of shells and provide a way of locating electrons around atoms in much more detail.
    </p>

    <p>
        Here are some examples of questions we could ask. Think about whether you can answer these questions adequately with the present electron shell treatment.
    </p>

    <ul>
        <li>How does graphite, a non-metal, conduct electricity?</li>
        <li>Why is aqueous copper sulfate CuSO<sub>4</sub>(aq) blue when aqueous copper chloride CuCl<sub>2</sub>(aq) is yellow-green in colour?</li>
 
        <li>Referring to Figure 5.1, why does compound A not convert into compound B without heating A or irradiating A with ultraviolet light?</li>
    </ul>

    <figure>
        <img img alt="Conversion of one alkene to another" src="images/Fig5_1_cistransalkene.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 5.1. What are the factors which determine if a reaction occurs or not?</figurecaption>
    </figure>

    <p>We will begin to answer the above questions in future articles. In this current series, we will only set the background needed.</p>

    <h3>Experiments which aided our understanding of electrons</h3>

    <p>
        If you are studying Physics then you may also learn about the experiments conducted in the early 20th century which led scientists to understand more about subatomic particles. I will not cover all of the discoveries here and instead outline the events related to the electron which we need. If you want to know more about how scientists deduced the mass and charge of an electron, look up the work of physicists Joseph John Tomson and Robert Andrews Millikan. 
    </p>

    <p>
        Let us start by considering the other results we need from the early 1900s in chronological order.
    </p>

    <ol>
        <li>In <b>1905</b>, Albert Einstein explained what is known as the <i>photoelectric effect</i>. We will not need to concern ourselves with the advanced details regarding the photoelectric effect to continue with this series. The key result we take away here is that when ultraviolet light of a particular wavelength is directed at the surface of a metal, an electron is expelled (Figure 5.2).
            <span>
                <figure>
                    <img img alt="The photoelectric effect" src="images/Fig5_2_photoelectric.svg" class="mx-auto img-fluid d-block" style="width: 100%">
                    <figurecaption> Figure 5.2. The photoelectric effect: waves having matter-like properties</figurecaption>
                </figure>
            </span>At the time, scientists had to review and verify their ideas about what light is in order to explain how a wave (light) interacts with matter (an electron). Eventually, the incoming waves were described as a collection of energy packets, called photons. Photons exhibit both wave-like and matter-like properties. For example, they are electrically neutral, they have momentum, they travel at the speed of light and they have zero mass. For what we need, we can say that the photon can collide with an electron and pass its energy to the electron. The energy helps the electron break free from the pull of the nucleus. The photoelectric effect (along with other experiments) demonstrated that <b>waves also possess matter-like characteristics</b>. This is the first strange result which we will need to consider, in combination with point 3.</li>
        
        <li>The evidence that <b>electrons are located in shells</b> comes from an experimental technique known as atomic spectroscopy. We will study this technique and the results in part 2 of this series. For now, the electron shell model that you have previously been introduced to was developed in <b>1913</b> by a Danish physicist Niels Bohr. The model, as derived from the results concerning hydrogen (Figure 5.3), is commonly referred to as the <i>Bohr atom</i>. The Bohr atom assumed that electrons orbit the nucleus in a similar way to the Earth orbiting the Sun. However the model could not accurately predict or explain, amongst other properties, the structure of other non-hydrogen atoms and was quickly superseded with more advanced theories.</li>
        <figure id="Figure5_3">
            <img img alt="Absorption spectrum of hydrogen" src="images/Fig5_3_absorptionspectrum.svg" class="mx-auto img-fluid d-block" style="width: 100%">
            <figurecaption> Figure 5.3. Results of atomic spectroscopy of hydrogen</figurecaption>
        </figure>
        <li>In <b>1924</b>, a French physicist Louis de Broglie proposed that matter has wave-like properties. This is the same as saying that <b>matter can also be described as a wave, characterised by a wavelength</b>. de Broglie's ideas were confirmed the following year when physicists diffracted a beam of electrons (Figure 5.4, the phrase <i>electron diffraction</i> should make you pause). Electron diffraction is one of the techniques that scientists use to determine the structure of a substance. We are comfortable with the idea that light can be diffracted but perhaps not so regarding particles. However strange these results may seem (along with point 1) they are verifiable results. We will use this point later in the series to understand how electrons interact as atoms bond.</li>
        <figure>
            <img img alt="Diffraction of electrons" src="images/Fig5_4_electrondiffraction.svg" class="mx-auto img-fluid d-block" style="width: 100%">
            <figurecaption> Figure 5.4. The diffraction of electrons: matter having wave-like properties</figurecaption>
        </figure>
        <li>When the wave-like properties of matter were confirmed, physicists began working on <b>mathematical models which describe the wave-like properties of particles</b>. In <b>1926</b>, an Austrian physicist Erwin Schr&#246dinger introduced what is widely known as the <i>Schr&#246dinger wave equation</i>. Schr&#246dinger's equation can be used to describe the electronic structure of a hydrogen atom, in agreement with multiple experimental results, but at present can only approximate other chemical systems. We will not explore the background to or features of the Schr&#246dinger wave equation (that would most certainly be a university-level topic) and instead use some of the results of Schr&#246dinger's equation to begin describing more precisely where electrons reside around an atom.</li>
    </ol>

    <h3>First steps to drawing energy level diagrams</h3>

    <p>
        We end part 1 with an introduction to a concise way of representing the arrangement and energy of electrons. Instead of drawing atoms with shells as circles, chemists represent the distribution of electrons with horizontal lines. Imagine expanding the shells, which are currently drawn as circles, and using lines to represent each shell (Figure 5.5). A line (shell) near the bottom of the diagram is located closer to the nucleus and lines above it are further from the nucleus. Electrons which are located near the bottom of the diagram experience more attraction to the nucleus than electrons located higher up.
    </p>

    <figure>
        <img img alt="Energy level diagram" src="images/Fig5_5_Shells.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 5.5. Representing shells as straight lines</figurecaption>
    </figure>

    <p>
        Knowing about shells is not enough. Chemists are more interested with comparing the potential energy of electrons in the same atom because the results can be used to calculate energy changes and better understand chemical reactivity. Each straight line, which corresponds to a shell (previously given by a circle) with a known potential energy, is referred to as an <i>energy level</i>. A diagram with a series of energy levels is referred to as an <i>energy level diagram</i>. The initial stages to drawing this diagram are shown in Figure 5.5.
    </p>

    <p>
        How does the potential energy relate to Figure 5.5? We know that more energy is stored in stronger bonds than in weaker bonds. This idea also applies to the force of attraction between electrons and protons. Electrons in shells closer to the nucleus have a greater magnitude of potential energy than electrons in shells higher up. In other words, electrons in higher shells are easier to remove from the atom. With the potential energy axis (right-hand plot of Figure 5.5), we have what will eventually become an energy level diagram.
    </p>

    <p>
        We have more to do before we can finish the right-hand plot of Figure 5.5 but before we proceed we need to bring together the experimental evidence regarding the nature of electrons, including the results listed above. The quest continues in <a href="/6_AtomicSpectroscopy">part 2</a>.
    </p>
<%- include("partials/footer") %>
