<%- include("partials/header") %>
<title>Structure and bonding Part 4: Interaction between orbitals from different atoms</title>
<meta name="description" content="Describing how orbitals from different atoms interact when bonds form">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

	<h1>Structure and bonding Part 4: Interaction between orbitals from different atoms</h1>
	<p><i>19th Feb 2020</i></p>

    <p>
        In the <a href="/7_AtomicOrbitals">previous article</a>, we could discuss the nature of an electron without much reference to its wave-like properties. I think we are now at a stage where we will see how the wave-like properties are applied to electrons. In this article, we will look at what happens to the orbitals when atoms form bonds. Before proceeding, make sure that you are familiar with the ideas outlined in the previous three parts of this series.
    </p>

    <p>
        I will assume that you are familiar with some of the physics of waves, in particular, constructive and destructive interference, nodes and nodal planes. Unlike particles, waves can exist in the same place at the same time. When waves cross paths, the displacement of the resultant wave at a given point is the sum of the displacements of each individual wave. In this article, I will be simplifying the presentation when two waves are superimposed (overlapped) in-phase or superimposed out-of-phase. The former is known as constructive interference (causing the amplitude, or maximum displacement, to increase) and the latter is known as destructive interference (which in this article, we will assume causes the amplitude to decrease to zero). We also continue with our viewpoint that electrons can behave like waves and therefore, can be superimposed.
    </p>

    <p>
        In part 4, I will focus solely on covalent bond formation. Many of the ideas given below also help describe how ionic bonds and metallic bonds form, though I recommend you learn about this from more advanced university-level texts. 
    </p>

    <h3>The phase of atomic orbitals</h3>

    <p>
        Electron atomic orbitals are mathematical functions and are characterised, in part, by sine and/or cosine functions. If we visualize the sine wave, we can see a region of positive or upward displacement (where sin x > 0) and a region of negative or downward displacement (where sin x < 0). Similar remarks can be made for the cosine function. Following from this, chemists refer to the sign of the orbital (a function) as the <b>phase</b> of the orbital, analogous to the way in which the displacement of a wave has a sign. The phase of the orbital has got nothing to do with the electrical charge of the electron.
    </p>
    <p> 
        We symbolize the phase of an orbital by using different shading or different colours. You may also see authors label phase as + or -. In part 3, <a href="/7_AtomicOrbitals#Figure7_4">Figure 7.4</a>, I was using different shading to denote the different phases (shown again in Figure 8.1(a), revised from <a href="7_AtomicOrbitals">part 3</a> to better reflect their true representation). The sign is assigned arbitrarily, so white (or black or some colour) can represent either positive or negative phase. However, for orbitals with two phases the sign of one colour is always opposite to the sign of the other colour.
    </p>
    
    <figure>
        <img img alt="Representing the phase of orbitals" src="images/Fig8_1_phaseOfOrbitals.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 8.1 (a) Representing the wave-like phase of atomic orbitals (b) Nodal planes/cones of p- and d-orbitals (the d<sub>z<sup>2</sup></sub>-orbital has two nodal <i>cones</i>)</figurecaption>
    </figure>

    <p>
        The s-orbital given in part 3, <a href="/7_AtomicOrbitals#Figure7_4">Figure 7.4</a> is shaded with a gradient from white to black because I was trying to give the impression of a 3D spherical shape. Please assume that the phase of the s-orbital surface is the same: all one colour. <i>(More correctly, if you examine the cross-section of the n &#8805 2 atomic orbitals, you will see internally that many of the orbitals undergo a change in phase. For this series, we will ignore this change in phase inside the orbital and focus instead on the the phase at the surface of the atomic orbital. More will be revealed at a university-level course.)</i>
    </p>

    <p>
        Sine and cosine functions cross the x-axis at some point. A node is a point of zero displacement, for which sin x = 0. For our purposes, a <b>node</b> denotes a point in space where the probability of finding an electron is zero. A <b>nodal plane</b> is simply a collection of nodes which form a plane, extending to infinity. Every orbital has a node at the nucleus, as we would expect. The p-orbitals have one nodal plane and the d-orbitals have two nodal planes (the d<sub>z<sup>2</sup></sub>-orbital has two nodal <i>cones</i> as opposed to nodal <i>planes</i>), partially shown in Figure 8.1(b). Note that the phase of the orbital usually changes as one crosses a nodal plane. Regarding the orbital diagrams shown in Figure 8.1(a), the symbols for the phase of the orbital simply provides another way of recognising the presence of nodal planes, without having to draw nodal planes. Figure 8.1(b) emphasises the geometric features of the nodal plane.
    </p>

    <p>
        Recall from <a href="7_AtomicOrbitals">part 3</a> that the p- and d-orbitals are viewed as lobes which do not overlap the region of the nucleus. I also said that an electron can reside in both lobes, even though the orbital appears to be broken up. At the risk of repeating myself, always remember that orbitals are mathematical ideas which are best interpreted as probabilities. They were not derived assuming that electrons whiz around the nucleus at high velocities and so it would be best not to incorporate particle-like behaviour like this in an attempt to understand what is going on.
    </p>

    <p>
        So, what is the use of orbital phase? When atoms approach each other, the atomic orbitals overlap, allowing the electrons to interact and pair up. This is like saying that two sine waves overlap (superimpose) and give rise to a wave which adopts characteristics of both sine waves. We use the same ideas to describe the behaviour of electrons. We will find that the phase of the atomic orbitals determines which parts of the atomic orbital experience constructive interference (and grow) and which parts experience destructive interference (and diminish). This eventually leads to the shape of the new orbital, and thus, a way of deducing the probability of finding electrons in a molecule instead of individual atoms.
    </p>

    <h3>The overlapping of s-orbitals</h3>

    <p>
        Let us begin by describing the electronic structure of molecular hydrogen H<sub>2</sub>. We know that two hydrogen atoms start off with 1s<sup>1</sup> configurations. We cannot explain how the orbitals change as the atoms approach over time (this would be an incredibly short time interval!) but instead characterise the starting point (two independent 1s<sup>1</sup> hydrogen atoms) and the finishing point (one H<sub>2</sub> molecule). The extent to which orbitals approach is determined by the balance of forces, the attractive forces between electrons and nuclei, and the repulsive forces between the nuclei.
    </p>

    <p>
        When two orbitals of the same phase overlap, the region where overlap takes place undergoes constructive interference and so the volume of the overlapping region increases. This results in an ellipsoid (distorted sphere) shaped orbital which encompasses both hydrogen nuclei (Figure 8.2). You can probably draw either the overlapped circles or the elliptical form when asked to show the s-orbitals overlapping (check with your teacher). The resultant orbital is referred to as a <i>molecular orbital</i> because is describes a region of space where the 1s electrons of the hydrogen molecule are located. Since each hydrogen atom is sharing the other hydrogen atom's 1s electron, the electronic configuration of both hydrogen atoms is consequently 1s<sup>2</sup>, the same configuration as a stable helium atom.
    </p>

    <figure id="inPhase">
        <img img alt="Overlap of two s-orbitals with the same phase" src="images/Fig8_2_SorbitalOverlap.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 8.2 The overlap of two s-orbitals with the same phase</figurecaption>
    </figure>

    <p>
        An orbital or a part of the orbital represents a probability. The volume of the overlap region is a measure of the probability of finding an electron <i>between</i> the nuclei. As you can see from the elliptical molecular orbital, the volume is greatest in between the nuclei. <b>The larger the overlap region, the more likely the electrons are located in between the nuclei, the more chance for the electrons to pull the two (opposing) nuclei together, and therefore, the stronger the bond.</b>
    </p>
    <p>
        I will list some of the other key features which will be of use to us:
    </p>

    <ol>
        <li>The phase of the new molecular orbital given in Figure 8.2 appears to be the same as the phase of the atomic orbitals used to construct it. There is, however, no restriction on the phase for the molecule during its lifetime; there is equal chance for either phase to take hold.</li>
        <li>If you look along the bond axis, you should be able to visualise a cross-section (pick any point along the axis), orthogonal to the bond axis, in which the phase on the cross-section is the same throughout. We will use this observation later when defining the type of covalent bond.</li>
        <li>Can 1s orbitals overlap with, say, 4s orbitals? They can, however, the bond will be relatively weak. Each atomic orbital represents the <i>same</i> probability (~95%) of finding an electron, however the probability is more dispersed in the larger 4s orbital then the smaller 1s orbital. When the 1s and 4s orbitals overlap, the volume of the overlap region compared to the total volume of the combined 1s and 4s orbitals is much lower than that between two 1s orbitals (Figure 8.3). This is equivalent to saying that the probability of finding electrons <i>directly in between</i> the nuclei, when 1s and 4s orbitals are involved, is less than that when two 1s-orbitals are involved. Consequently, bonds involving the overlap of 1s and 4s orbitals are weaker than the bonds involving the overlap of two 1s-orbitals. (The relatively long distance between the bonding electrons in overlapping region and the nucleus of the 4s orbital is arguably another reason why the bond is weak.)
            <figure>
                <img img alt="Overlap of 1s and 4s orbitals" src="images/Fig8_3_1s4sOverlap.svg" class="mx-auto img-fluid d-block" style="width: 100%">
                <figurecaption> Figure 8.3 The overlap of a 1s orbital with a larger 4s orbital</figurecaption>
            </figure>
        </li>
    </ol>

    <p>
        You may be asking, can two 1s-orbitals with different phase overlap? Well, they can. Such a combination would result in destructive interference between the nuclei, leading to a nodal plane in between the nuclei (Figure 8.4). <i>If</i> we placed electrons in this type of molecular orbital (again, both lobes at the same time) then the nuclei would not get pulled together as much. In fact, this molecular orbital looks a bit like two <i>independent</i> hydrogen atoms. However, more advanced calculations show that electrons would occupy the molecular orbital which was described in Figure 8.2 before occupying the molecular orbital in Figure 8.4.
    </p>

    <figure id="outOfPhase">
        <img img alt="Overlap of two s-orbitals with different phase" src="images/Fig8_4_1s4sAntiOverlap.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 8.4 The overlap of two s-orbitals with different phase</figurecaption>
    </figure>

    <p>
        Unless you have learned about orbital phase in your course, you will not be asked to draw out-of-phase superposition (overlap) of orbitals in exams. There is much more to say about the properties and uses of molecular orbitals but at this stage, I think the above features are enough for this series. One of the final goals in this series is to show you how orbitals interact as atoms bond, and we have in fact just done that for s-orbitals.
    </p>

<h3>The overlapping of p-orbitals</h3>

<p>
    The concepts regarding phase and volume of the overlapping region for 1s orbitals also applies to other orbital combinations. We continue here with the combination of two p-orbitals. The p<sub>x</sub> orbital has one nodal plane in the yz-plane. Anywhere-else off of the plane, there is a non-zero probability of finding an electron but as explained in <a href="7_AtomicOrbitals">part 3</a>, we set a boundary (the orbital surface) where "outside" of the boundary, the probability is effectively zero. The nodal plane for the three p-orbitals is shown in Figure 8.5
</p>

<figure>
    <img img alt="The nodal planes of p-orbitals" src="images/Fig8_5_3pPlanes.svg" class="mx-auto img-fluid d-block" style="width: 100%">
    <figurecaption> Figure 8.5 The nodal planes of the p-orbitals</figurecaption>
</figure>

<p>
    There are only two ways of overlapping two s-orbitals because of the phase and symmetry of the s-orbital. However for all other orbitals, there are a few possible ways of overlapping the orbitals. This is where thinking in three-dimensions definitely helps. The two lobes of the p-orbitals have opposing phase and this makes the descriptions a little more complex. I will use molecular chlorine Cl<sub>2</sub> as an example. The configuration of a chlorine atom is [He] 3s<sup>2</sup> 3p<sup>5</sup>. It does not matter if we use the 3p<sub>x</sub> orbital or the 3p<sub>y</sub> or 3p<sub>z</sub> orbitals to describe how molecular chlorine is formed. The result will be the same.
</p>

<p>
    I will firstly outline the type of p-orbital overlap which leads to the strongest type of interaction (bond). If we place two p-orbitals parallel and pointing "head-on" then this results in an overlap, given in Figure 8.6(a) (you may be asked to draw Figure 8.6(a) in exams). If you apply the ideas about phase from the last section, then you can see which one results in a larger overlap region directly in between the chlorine nuclei (Figure 8.6(b)). The electronic configuration of each chlorine atom in the chlorine molecule is [He] 3s<sup>2</sup> 3p<sup>6</sup>, the same configuration as argon.
</p>

<figure>
    <img img alt="Overlap of two p-orbitals" src="images/Fig8_6_3pOverlap.svg" class="mx-auto img-fluid d-block" style="width: 100%">
    <figurecaption> Figure 8.6 The overlap of two p-orbitals</figurecaption>
</figure>

<p>
    Notice again from Figure 8.6(c) and from point 2 above, the phase of the cross-section you can see looking along the bond axis is the same. 
</p>

<p>
    Let us consider the other ways of combining two p-orbitals. Figure 8.6(d) shows that the p-orbitals would not combine like this because the overall amount of overlap is a lot lower than that achieved from the head-on overlap shown in Figure 8.6(c). There might be constructive interference with one lobe but this is countered by the destructive interference of the other lobe. The overlap shown in Figures 8.6(e) and (f), <b>alone</b>, results in a zero probability <i>directly in between</i> the nuclei (in the same way that the combination in Figure 8.4 did not) and so this type of bond would not form either. The molecular orbital in Figure 8.6(f) looks a bit like two rugby balls, one placed above the other. The type of overlap from Figures 8.6(e) and (f) is possible <b>if</b> there is already an orbital directly in between the nuclei, as we shall soon see. You may be asked to draw the interaction of two p-orbitals as shown in Figure 8.6(e).
</p>

<p>
    I will leave the diagrams for the out-of-phase superpositions of Figures 8.6(c) and (f) as an exercise to those who are interested. The approach is the same as that shown in Figure 8.4. You should find there are three nodal planes for the corresponding molecular orbital in Figure 8.6(c) and two nodal planes for the molecular orbital related to Figure 8.6 (f).  
</p>

<h3>&#963-bonds and &#960-bonds</h3>
<p>
    You are already familiar with single bonds, double bonds and triple bonds. These labels tell you how many covalent bonds (or pairs of electrons) are involved. They do not say anything about where electrons are likely to reside. It seems quite improbable to fit six electrons (for example) in between two carbon nuclei in ethyne H-C&#8801C-H. How are the electrons distributed? We will describe how they are distributed in this article but will need to wait until the next article of this series to learn how they are formed.
</p>

<p>
    There is a reason why I highlighted the nature of the orbitals and their phase <i>directly along the bond axis</i>. It provides one way of defining the types of covalent bond formed based on how phase changes across the bond axis. The covalent bonds shown in Figures 8.2 and 8.6(a)-(c) are known as &#963-bonds (read as "sigma-bonds"). &#963-bonds have no change in phase on a plane, orthogonal to the bond axis. In other words, the phase of the molecular orbital cross-section you see looking along the bond axis is the same. This type of definition is not given in pre-university level literature because it requires knowledge of orbital phase and nodal planes. In your course, you will hear the <b>&#963-bonds defined as the "head-on" overlap of two orbitals</b>, a definition which is based on how orbitals overlap and one which I recommend you commit to memory. You may be asked to draw an example of a &#963-bond, so any of the above examples from Figures 8.2 and 8.6(a) of &#963-bonds will suffice.
</p>

<p>
    How about the overlap of two p-orbitals shown in Figures 8.6(e) and (f)? This type of bond is known as a &#960-bond (read as "pi-bond"). Look along the bond axis. Can you see (or visualise) a nodal plane which lies along the bond axis? Crossing over from one side of the nodal plane to the other, one can observe one change in phase, either positive to negative, or <i>vice versa</i>. A &#960-bond is formed from two orbitals (each from a different atom) and give rise to one nodal plane. You will learn (if you have not already) that <b>&#960-bonds are defined as a bond formed from the side-ways (or side-on) overlap of two p-orbitals</b>. Again, I recommend that you memorise the latter definition.
</p>

<p>
    I wanted to show you that both &#963-bonds and &#960-bonds are more formally defined based on the number of changes of phase, as one looks along the bond axis, because I am all in favour of offering alternative viewpoints when possible. Some readers may think that the terms "head-on" and "side-ways" are somewhat imprecise, so I felt it was worth showing you that there are more formal definitions of &#963-bonds and &#960-bonds. As explained previously, &#963-bonds are covalent bonds which do not have any nodal planes along the bond axis, &#960-bonds have one nodal plane. There is another type of bond, known as a &#948-bond (read as "delta-bond") which involves the overlap of two orbitals from different atoms (for example, two d<sub>xz</sub>-orbitals from two d-block atoms) giving rise to two nodal planes lying along the bond axis. I have shown all three types in Figure 8.7, for comparison and future reference.
</p>

<figure>
    <img img alt="Sigma, pi and delta bonds" src="images/Fig8_7_sigPiDel.svg" class="mx-auto img-fluid d-block" style="width: 100%">
    <figurecaption> Figure 8.7 The &#963-bond, &#960-bond and &#948-bond</figurecaption>
</figure>

<h3>Overlap of an s-orbital with a p-orbital</h3>

<p>
    I will briefly outline the bond formed between an s-orbital and a p-orbital. The considerations are the same. The s-orbital overlaps with the p-orbital, head-on (Figure 8.8), leading to maximum overlap and the strongest bond possible between the given orbitals. You should also be able to see that there are no changes in phase across the bond axis. This example could apply to the hydrogen halides, <i>e.g.</i> hydrogen fluoride HF. In hydrogen fluoride, hydrogen would have a configuration of [He] and fluorine would have a configuration of [Ne].
</p>

<figure>
    <img img alt="Sigma bonds from s- and p-orbitals" src="images/Fig8_8_HFSigma.svg" class="mx-auto img-fluid d-block" style="width: 100%">
    <figurecaption> Figure 8.8 The &#963-bond between s-orbitals and p-orbitals</figurecaption>
</figure>

<p>
    Similar to what was shown in Figure 8.6(d), if the s-orbital were to approach in between the p-orbital lobes, then the constructive interference would be countered by the destructive interference, resulting in an insufficient electron probability directly in between the nuclei. You can expect to be asked to draw the orbital overlap using Figure 8.8(a). I will leave it to the interested reader to draw the molecular orbital formed as a result of out-of-phase superposition.
</p>

<h3>Relative strength of covalent bonds</h3>

<p>
    Before comparing different chemical systems, it is important to be clear about what it means to say that a bond is strong (or weak). Generally speaking, chemists compare the energy required to break a bond equally, that is, each atom of the bond receives one of the bonding electrons as the bond breaks. A simple example of this is the conversion of molecular chlorine Cl<sub>2</sub> to atomic (neutral) chlorine Cl. When you study organic chemistry, you will learn of another way of breaking bonds, which involves giving both bonding electrons to one atom. This generally leads to the formation of ions, for example:
</p>

<p id="example">Cl<sub>2</sub> &#8594 Cl<sup>+</sup> + Cl<sup>-</sup></p>

<p>
    The process of breaking bonds and distributing the electrons equally is known as <i>homolysis</i> (or homolytic fission), whereas the process of breaking a bond and distributing electrons unequally (to give ions, as shown above) is known as <i>heterolysis</i> (also referred to as heterolytic fission). A common measure of bond strength, which is defined on the basis of homolysis, is bond enthalpy (or bond energy), which you are probably already familiar with by now.
</p>

<p>
    Triple bonds are stronger than double bonds, and double bonds are stronger than single bonds. This is usually explained by saying that the greater number of electrons leads to more attraction with the nuclei, despite the added repulsion between more electrons. These trends can be confirmed by comparing bond enthalpies, listed in a data booklet. Furthermore, covalent bonds between large atoms are generally weaker than covalent bonds between smaller atoms. This is because the bonding electrons occupy a region in between the nuclei that is, on average, a long distance from at least one of the nuclei. I should forewarn you that comparing bond enthalpies does not demonstrate that all larger atoms form weaker bonds. The apparent exceptions might be due to the way in which bond energy is recorded (it is an averaged value based on many substances at least) or it might be due to the unique nature of the bond and breakdown products in question. I think the concerns are quite broad and best discussed at a more advanced level. For an example, look up and explain the bond enthalpies of the halogens in group XVII, specifically from fluorine to iodine.
</p>

<p>
    Going back to the main themes of this article, how do &#963-bonds and &#960-bonds compare? More sophisticated calculations reveal that the degree or extent of overlap is a major factor. In general, <b>&#963-bonds are stronger than &#960-bonds because the degree of overlap is greater if orbitals overlap head-on</b>. You can check this for a few chemical systems by calculating the difference of the bond enthalpies (energies) of, for example, C=C and C-C (or P=O and P-O), to, C-C (or P-O). Again you may encounter a few anomalies, for the same reasons given above, which you can explore further if you wish.
</p>

<h3>Looking ahead: how electrons are distributed over a molecule</h3>

<p>
    At this point, you may be wondering what new insights have you gained by learning all of the above. The real power of molecular orbitals lies in how they describe the electronic properties of much larger molecules. It was necessary to go through all of the above background so that you can comprehend more advanced applications. As promised, here are examples of molecules containing double bonds and triple bonds (Figure 8.9) showing how electrons are distributed. Note that these orbital diagrams are based on calculations and supported (indirectly) by 3D-geometric data. We do not derive molecular orbital shape by experiment. See if you can visualise the &#963-bonds and &#960-bonds. (There are no delta-bonds, since this would require the overlap of exactly two orbitals, no more) In particular, see how the &#960-bond co-exists with the required &#963-bond. We will learn about how to predict and rationalise the structures in the next part. 
</p>

<figure id="carbon">
    <img img alt="Examples involving &#963-bonds and &#960-bonds" src="images/Fig8_9_SigPiExamples.svg" class="mx-auto img-fluid d-block" style="width: 100%">
    <figurecaption> Figure 8.9 Examples involving &#963-bonds and &#960-bonds (phase of orbitals omitted)</figurecaption>
</figure>

<p id="water">
    On closing, I leave you with a problem which we will address in <a href="9_Hybridisation">part 5</a>. Water. We know that water is bent or V-shaped. The bond angle is 104.5&#176. You should be able to predict the electronic configuration of the hydrogen and oxygen atoms in a water molecule. They are [He] and [Ne], respectively. There are two oxygen p-orbitals with a single electron, each of which are shared with two hydrogen atoms. The problem is not the electron sharing but actually the geometry of the molecule. Two of the three p-orbitals contain a single electron (does not matter which). We know that the oxygen p-orbitals are orthogonal to each other. If the hydrogen atoms form &#963-bonds to oxygen then the bond angle should be 90&#176 and not 104.5&#176, right?
</p>

<p>
    This leads me to conclude with the key points in this article. The title of this article emphasises how orbitals of different atoms mix (overlap) on forming bonds. If orbitals of different atoms mix, then can orbitals on the same atom mix? They can. If you think about it, the orbitals on the same atom do not have to travel far to interact. By allowing orbitals from the same atom to interact, we will be able to explain the geometry of the water molecule and many, many other molecules. You might be pleased to learn that we do not need other tools (other than what was described in this article) to get answers. We have seen how modelling the electron as a wave has helped develop the ideas of orbital interaction. In the <a href="9_Hybridisation">next part</a>, we will see how orbitals relate to geometry of molecules and set the stage for future study, showing how orbitals ultimately explain electronic properties.
</p>

<%- include("partials/footer") %>
