<%- include("partials/header") %>
<title>Structure and bonding Part 5: Interaction between orbitals of the same atom</title>
<meta name="description" content="Describing how orbitals of the same atom interact when bonds form">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

	<h1>Structure and bonding Part 5: Interaction between orbitals of the same atom</h1>
	<p><i>13th Mar 2020</i></p>

    <p>
        This is the last in a series of articles on structure and bonding. We will see how the atomic orbitals of atoms are developed to model the geometry and electron distribution of groups of covalently bonded atoms <i>i.e.</i> molecules. A familiarity with the content presented in parts 1 to 4 will be assumed. You should also know how to predict the shapes of molecules.
    </p>

    <p>
        In <a href="/8_MixingOrbitals">part 4</a>, we learned about how orbitals represent the electron distribution over an atom. More accurately, atomic orbitals describe the electron distribution around <i>isolated</i> (gaseous) atoms. We also briefly covered molecular orbitals though not to enough depth to describe all chemical species. Chemistry is of course not limited to such simple systems and so we now go one stage further and attempt to describe the bonding in more complicated structures.
    </p>
    <p>
        Previously, I showed how electrons are distributed in ethene, carbon dioxide and ethyne, <a href="/8_MixingOrbitals#carbon">Figure 8.9</a>. I also posed a question about the geometry of water at the end of part 4. Both aspects demonstrate the limits of the theory as presented in part 4. The atomic orbitals derived from the Schr&#246dinger wave equation have "no knowledge" about neighbouring atoms. This is why they are called <i>atomic</i> orbitals because they are a constructed only from the properties of independent atoms. The need to revise the descriptions should not come as a complete surprise since it is reasonable to assume that negatively charged electrons will try to avoid one another before a bond is formed. As a result, the volume where they reside (the shape of the orbitals) will become distorted. For instance, while we would observe (if we could) perfectly spherical s-orbitals in an isolated atom, we would not observe perfectly spherical s-orbitals in a molecule because the s-orbital electrons would respond (repel) with neighbouring electrons.
    </p>

    <p>
        It may seem as if we are forever looking for more accurate models and changing our mind about what we think is going on. There is some truth to that. Chemists start with a very simple model and then advance the model when required. The challenge of describing microscopic systems with multiple variables to consider is undeniable. Another point which is worth highlighting again is that the atomic orbitals are only strictly applicable to species with one electron (hydrogen-like). The Schr&#246dinger wave equation cannot be used to derive atomic orbitals of other atoms (let alone entire molecules) and so scientists have had to introduce a range of methods which approximate what the orbitals would look like. This limitation probably means that we will never be able to describe all chemical systems with complete accuracy unless we can solve the Schr&#246dinger wave equation for everything or take a completely different approach. All is not lost, however, since there are plenty of examples which show that the approximations are quite acceptable. We will not be able to list many of them here but as you progress with your studies, you will begin to notice how orbitals are applied with considerable success.
    </p>
    <p> 
        We will use the atomic orbitals to derive new types of orbitals and get closer to a more accurate electronic description. In this article, I will outline two steps. In step 1, we will first use some of the atomic orbitals outlined in part 3 to derive a new type of orbital. Carbon is used as the main example in step 1 because in doing so we will address many of the points raised at the end of <a href="/8_MixingOrbitals#carbon">part 4</a>. The results generally apply to other atoms. Then in step 2, we will apply the ideas from part 4 to show how the new types of orbitals (from different atoms) interact (Figure 9.1). Towards the end, we will see how steps 1 and 2 can be used to account for the geometry of water.
    </p>

    <figure>
        <img img alt="Derivation and combination of hybrid orbitals" src="images/Fig9_1_overallProcedure.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.1 General approach for part 5</figurecaption>
    </figure>

    <p>
        A more complete explanation of the terms given in Figure 9.1 will be provided in due course.
    </p>

    <h3>Step 1: the derivation of hybrid orbitals</h3>

    <p>
        In my view, the most fundamental process which governs all electronic structure is how orbitals mix or overlap. In <a href="/8_MixingOrbitals">part 4</a> we learned how atomic orbitals from <i>different</i> atoms overlap to yield new molecular orbitals and ultimately, bonds. This process still applies here, though not without some prior modification of the atomic orbitals. In this part, we will focus on what happens when orbitals of the <i>same</i> atom interact.
    </p>

    <p>
        We can derive the properties of the new type of orbital by combining the properties of the atomic orbitals from the same atom. This is achieved by mixing (or overlapping) the atomic orbitals. The process of mixing orbitals of the same atom is known as <b>hybridisation</b>. The new type of orbitals, formed from the atomic orbitals, are known as <b>hybrid orbitals</b>. The purpose of hybridisation is to derive orbitals which lead to properties that more closely agree with experimental data including, but not limited to, bond strength (through orbital overlap) and bond angles.
    </p>
    <p>
        As I mentioned in part 4, we will not consider what happens to the electrons or orbitals <i>as</i> a bond forms. Atomic, hybrid and molecular orbitals are mathematical functions, derived/approximated from the Schr&#246dinger wave equation and not derived by experiment. In other words, orbitals do not exist in a physical sense. It follows then that hybridisation is not a physical process, even though it may seem to be a plausible idea when you think about wave interference (demonstrated shortly). Hybridisation is a mathematical method which enables us to calculate hybrid orbitals when we need to and is technically represented by a linear combination of atomic orbitals:
    </p>
    
    <p>
        <span id="example">hybrid orbital = a(s-orbital) + b(p-orbital)</span>
    </p>

    <p>
        For the above example, the hybrid orbital function is sum (or difference) of parts of an s-orbital and parts of a p-orbital. That is, it adopts some of the characteristics of an s-orbital and some of the p-orbital, depending on the magnitude and sign of the constants a and b. The justification regarding how orbitals mix and in which combinations (what the values of a and b are) is beyond the scope of this series. I will go straight to the results. 
    </p>

    <p>
        We can view hybridisation as a process of orbital interaction (on the same atom), one which is dependent on the phase and shape of the orbitals concerned. You should be aware of three types of hybrid orbitals, which we will cover one by one. Let us explore our first type of hybrid orbital, when one s-orbital mixes with one p-orbital (Figure 9.2(a)). I have demonstrated the ideas with the p<sub>x</sub> orbital, though you could also mix with one of the other p-orbitals as well.
    </p>

    <figure>
        <img img alt="Hybridisation of one s and one p orbital" src="images/Fig9_2_sAndp.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.2 The hybridisation of one s-orbital and one p-orbital to form sp-hybrid orbitals</figurecaption>
    </figure>

    <p>
        It is worth noting that orbitals in the same shell roughly occupy the same region from the nucleus and therefore more likely to overlap and mix. In contrast, 2s atomic orbitals would not overlap 3p atomic orbitals significantly, for example, and so would not mix. Hybridisation, shown in Figure 9.2, could apply to the overlap of a 2s orbital with one of the 2p orbitals, both from the same atom.
    </p>
    <p>
        As you can see, the s-orbital overlaps in-phase or out-of-phase, depending on the arbitrary assignment of orbital phase. Recall from part 4 that we looked at the <a href="/8_MixingOrbitals#inPhase">in-phase</a> and <a href="/8_MixingOrbitals#outOfPhase">out-of-phase</a> interaction between <i>two</i> s-orbitals to result in <i>two</i> types of molecular orbital. This is actually a universal result, supported by the underlying mathematics: <b>the number of new orbitals formed is always equal to the number of orbitals mixed</b>. If you want to know why then you will need to consult more advanced literature. Two atomic orbitals combine to result in two hybrid orbitals. We can show this pictorially for this particular type of hybridisation by leaving the phase of one atomic orbital constant and then looking at how the other atomic orbital phase results in the formation of two hybrid orbitals. I have chosen to keep the p-orbital phase constant <i>i.e.</i> the left-hand lobe is always "red" and the right-hand lobe is always "blue". You could achieve the same result if instead you assumed the s-orbital phase was always one colour, as it were. Either way, with reference to the x-axis when building one of the hybrid orbitals, the large lobe lies to the left-hand side of the nucleus, whereas for the other hybrid orbital, the large lobe lies to the right. The actual phase of each lobe per hybrid orbital is not important, as long as they are different between each lobe. That is, one lobe is "red" and the other is "blue".
    </p>
    <p>
        The hybrid orbital is referred to as an <b>sp-hybrid orbital</b> (read as "s p") since we have mixed one s-orbital and one p-orbital (think of the exponent of s and p both equalling one). Note the position of the nucleus relative to the sp-hybrid orbital. In step 2, for simplicity I will (inaccurately) draw all hybrid orbitals with the nucleus situated at the node (Figure 9.2(b)).
    </p>

    <p>
        I hope you can see that we have simply applied the ideas about wave interference from part 4, when deriving the sp-hybrid orbital. One s-orbital and one-p-orbital are combined to form two sp-hybrid orbitals. It seems as if part of the s-orbital and part of the p-orbital are used to form one hybrid orbital. You might be thinking, how can we split up the s-orbital and p-orbitals? You should be able to see how from the linear combination given above. We can go a bit further to visualise this. This is when I like to think of electrons (represented by orbitals) as waves. A sine wave can be the result of two sine waves of lower amplitude (think of the reversal of constructive interference, Figure 9.2(c)). The s-orbital and the p-orbital can be represented by two lower-amplitude waves. A lower-amplitude s-orbital wave overlaps with one of the lower-amplitude p-orbital waves, giving rise to one sp-hybrid orbital.
    </p>

    <p>
        We will see in step 2 how the sp-hybrid orbital forms part of the electronic structure of ethyne, H-C&#8801C-H, and carbon dioxide CO<sub>2</sub>.
    </p>

    <p>
        The second type of hybrid orbital which will be of interest to us is the <b>sp<sup>2</sup>-hybrid orbital</b> (read as "s p two"). This orbital is formed from the overlap of one s-orbital and two p-orbitals (hence the exponent of p is 2). The derivation approach (Figure 9.3) is similar to the first. The combinations of the s-orbital and two p-orbitals are a bit involved and beyond the scope of this series. Three atomic orbitals are used to derive three hybrid orbitals, all of which lie in the same plane corresponding to both p-orbitals. The sp<sup>2</sup>-hybrid orbitals are needed to explain the geometry of ethene, H<sub>2</sub>C=CH<sub>2</sub>, as we shall see in step 2.
    </p>

    <figure>
        <img img alt="Hybridisation of one s and two p orbitals" src="images/Fig9_3_sAndp2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.3 The hybridisation of one s-orbital and two p-orbitals</figurecaption>
    </figure>

    <p>
        The third and final type of hybrid orbital which we will cover is the <b>sp<sup>3</sup>-hybrid orbital</b>. Due to the three-dimensional orientation of the three p-orbitals involved, the four sp<sup>3</sup>-hybrid orbitals also have three-dimensional components in space. We shall see that the orientation of the larger lobe of an sp<sup>3</sup>-hybrid orbital supports the geometry of tetrahedrally-based systems, such as methane, CH<sub>4</sub> and water. The proportions of the carbon atomic orbitals that combine are best explained at university. 
    </p>

    <figure>
        <img img alt="Hybridisation of one s and three p orbitals" src="images/Fig9_4_sAndp3.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.4 The hybridisation of one s-orbital and three p-orbitals</figurecaption>
    </figure>

    <p>
        The shapes of the three types of hybrid orbitals outlined here are similar: they all have a large lobe and a small lobe. However, they are not identical because the proportion of p-orbitals involved is different. Now that we have outlined some of the origins of hybrid orbitals, we will look at how hybrid orbitals can be used to explain the geometry of polyatomic species.
    </p>

    <h3>Step 2: the overlap of hybrid orbitals with other orbitals</h3>

    <p>
        In this article, we will start from the shape of the molecule (determined by experiment) and then use this information to find the type of hybridisation which agrees with the geometric data. In general, I will not focus on specifically which p-orbital is undergoing hybridisation, so I will leave out the x, y and z labels when drawing figures. I will also ignore principal quantum numbers when labelling the hybrid orbitals.
    </p>
    <h5>sp-hybridised systems: ethyne H-C&#8801C-H</h5>

    <p>
        Ethyne is linear at both carbon atoms, so the question is how do we arrange the electrons around the carbon atoms so that we can reproduce the geometry? If you look at the relationship between the hybrid orbitals of the same atom, you can see that sp-hybrid orbitals point in the opposite direction. Alternatively, the large lobes are on opposite sides of the nucleus. This matches a molecule with a linear geometry. With regard to which atoms we hybridise, we will not need to hybridise the hydrogen 1s atomic orbital and instead hybridise the carbon 2s and 2p atomic orbitals. If we mix the 2s and 2p atomic orbitals (those highlighted in red), then this leaves two 2p atomic orbitals remaining (Figure 9.5). We leave the non-hybridising 2p atomic orbitals and their electrons alone. We mix the other orbitals (marked in red) before adding electrons singly in each degenerate hybrid orbital, before pairing them. 
    </p>

    <figure>
        <img img alt="Energy level diagram of sp-hybrid orbitals" src="images/Fig9_5_sAndpEnergy.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.5 Energy-level diagram of sp-hybrid orbitals and bond formation</figurecaption>
    </figure>

    <p>
        From step A, Figure 9.5, how do we know what the energy of the hybrid orbitals will be? When we mix orbitals given on an energy-level diagram, the energy of the resultant hybrid orbitals will be intermediate to that of the atomic orbitals. It is a bit like distributing water between two buckets: one which is at a higher temperature and empty (representing the vacant, higher-energy 2p orbital), and the other which is at a lower temperature and full of water. The buckets are our placeholders (the lines representing the orbitals) and the water represents the electrons. We repeatedly redistribute the water between the two buckets until thermal equilibrium is attained and then equally divide the water between the two buckets. The number of buckets does not change: <i>the total number of orbitals is the same</i>. The total volume of water is the same: <i>the number of electrons present does not change</i>. The temperature of the water is somewhere in between the higher and lower temperatures, and is the same for both: <i>the energy of the hybrid orbital electrons is equal (degenerate)</i>.
    </p>

    <p>
        From Figure 9.5, you can also see the energy of the electrons (labelled in red) is initially increasing if we invoke hybridisation (step A). So does the system become more unstable? Not always. This is because we have yet to consider the influence of the nucleus of the other bonding atom. When the other atom gets very close and bonds with the hybridised atom, it pulls the electrons down in energy (step B), just as we discussed in <a href="7_AtomicOrbitals#effectOfTheNucleus">part 3</a>. As the nuclear charge increases, the attraction for electrons increases, causing the potential energy of the electrons to become more negative (the energy levels are lowered in the energy-level diagram). Overall, hybridisation leads to a rising of the energy levels and then the bonding with another atom lowers the energy levels. For a bond to form, the net energy changes must be negative and this is achieved if the extent of lowering the energy levels (step B) is greater than the extent of raising them (step A). You may eventually learn about the calculations to demonstrate this from an advanced physical chemistry course at university.
    </p>

    <p>
        Both sp-hybrid orbitals lie along the axis of the p-orbital used to form them (if needed, refer back to Figure 9.2(a) to understand how the sp-hybrid orbitals are formed). If we look at the atomic and hybrid orbitals present, and place electrons in them (represented as arrows in Figure 9.6) we can build up the electron distribution around both carbon atoms. Can you see how the &#963-bonds and &#960-bonds would be formed? The 2p orbitals are involved in &#960-bonds and the sp-hybrid orbitals are involved in &#963-bonds.
    </p>

    <figure>
        <img img alt="Atomic and hybrid orbitals of carbon in ethyne" src="images/Fig9_6_ethyne.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.6 Atomic and hybrid orbitals of carbon in ethyne. The p-orbitals have been distorted slightly to make it easier for you to follow the diagrams.</figurecaption>
    </figure>

    <p>
        Let us combine the four atoms to show how the &#963-bonds and &#960-bonds are formed. Notice that this agrees with the geometry of ethyne. The bond angles are 180&#176. As explained above, the position of the nucleus is really inside the large lobe of the hybrid orbital but for simplicity I will draw the structure assuming the nucleus is located at the node.
    </p>

    <figure>
        <img img alt="Electronic structure of ethyne" src="images/Fig9_7_ethyne2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.7 How the hybrid and atomic orbitals in ethyne overlap (compare this to <a href="/8_MixingOrbitals#carbon">Figure 8.9</a>). If we allowed the orbitals to overlap then this picture will resemble some of the molecular orbitals present in ethyne. Molecular orbitals can span (cover) more than two atoms, though this is beyond the scope of this article.</figurecaption>
    </figure>

    <h5>sp- and sp<sup>2</sup>-hybridised systems: carbon dioxide CO<sub>2</sub></h5>

    <p>
        Carbon in carbon dioxide is linear in shape. The energy-level diagram of the carbon atom in carbon dioxide is the same as the carbon atoms in ethyne <i>i.e.</i> sp-hybridised. Focusing on the oxygen atom, it is quite likely that the lone pairs will occupy a region of space which is the furthest distance possible from the other valence electrons. This can be achieved if the lone pairs point in a direction which is about 120&#176 from the O=C bond. Consequently, the geometry at the oxygen atom (including the lone pairs) would resemble a trigonal planar shape. This arrangement matches the sp<sup>2</sup>-hybridised system. Again, leave the non-hybridising (black) 2p orbital alone and fill the degenerate hybrid orbitals just as you would for a p-subshell (Figure 9.8).
    </p>

    <figure>
        <img img alt="Atomic and hybrid orbitals of oxygen in carbon dioxide" src="images/Fig9_8_oxygeninCO2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.8 Atomic and hybrid orbitals of oxygen in carbon dioxide</figurecaption>
    </figure>

    <p id="CO2">
        The discussion about the role of the other bonding atom in Figure 9.8 (and Figures 9.11 and 9.13, below) is largely the same as the outline given for Figure 9.5. Let us bring the carbon and oxygen atoms together to show how the &#963-bonds and &#960-bonds are formed (Figure 9.9). The sp<sup>2</sup>-hybrid orbital of oxygen forms a &#963-bond and the 2p-orbital of oxygen forms the &#960-bond. Notice how the &#960-bond and oxygen lone pairs on each side of the carbon atom lie in different planes.
    </p>

    <figure>
        <img img alt="Electronic structure of carbon dioxide" src="images/Fig9_9_CO2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.9 How the hybrid and atomic orbitals in carbon dioxide overlap</figurecaption>
    </figure>

    <h5>sp<sup>2</sup>-hybridised systems: ethene H<sub>2</sub>C=CH<sub>2</sub></h5>

    <p>
        Ethene is made up of two carbon atoms, both with a trigonal planar shape. Like the oxygen atom in carbon dioxide, each carbon atom in ethene would be sp<sup>2</sup>-hybridised. I will leave it as an exercise for you to draw the energy level diagram of an sp<sup>2</sup>-hybridised carbon atom. You should find each sp<sup>2</sup>-hybrid orbital has one electron, with a p-orbital having only one electron. The three sp<sup>2</sup>-hybrid orbitals form &#963-bonds. Following the same ideas presented so far, you should be able to deduce the electronic structure of ethene (Figure 9.10) without any problem.
    </p>

    <figure>
        <img img alt="Electronic structure of ethene" src="images/Fig9_10_ethene.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.10 How the hybrid and atomic orbitals in ethene overlap</figurecaption>
    </figure>

    <h5>sp<sup>3</sup>-hybridised systems: methane CH<sub>4</sub></h5>

    <p>
        The carbon atom in methane is tetrahedral in shape. This matches an sp<sup>3</sup>-hybridised system. In this case, all three 2p-orbitals mix with the 2s-orbital (Figure 9.11).
    </p>

    <figure>
        <img img alt="Atomic and hybrid orbitals of carbon in methane" src="images/Fig9_11_methane.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.11 Atomic and hybrid orbitals of carbon in methane</figurecaption>
    </figure>

    <figure>
        <img img alt="Electronic structure of methane" src="images/Fig9_12_methane2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.12 How the hybrid and atomic orbitals in methane overlap</figurecaption>
    </figure>

    <h5>sp<sup>3</sup>-hybridised systems: water</sub></h5>

    <p>
        We can now describe the structure of a water molecule. If you consider the lone pairs on the oxygen atom then the geometry of water looks tetrahedral-based. The shape is bent (or V-shaped) when we ignore the lone pairs. The oxygen atom is therefore  sp<sup>3</sup>-hybridised, in order to account for the position of the lone pairs. At this stage the precise bond angle is not accounted for and would yet again represent another area of future refinement regarding hybridisation.
    </p>

    <figure>
        <img img alt="Atomic and hybrid orbitals of oxygen in water" src="images/Fig9_13_water.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.13 Atomic and hybrid orbitals of oxygen in water</figurecaption>
    </figure>

    <figure>
        <img img alt="Electronic structure of water" src="images/Fig9_14_water2.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.14 The electronic structure of water</figurecaption>
    </figure>

    <p>
        If you have studied the shapes of molecules such as phosphorus pentachloride PCl<sub>5</sub> and sulfur hexafluoride SF<sub>6</sub>, then you will already know that they are, geometrically, trigonal bipyramidal and octahedral, respectively. What would the hybridisation need to be in order to account for these shapes? Looking beyond the scope of this series, the hybridisation <i>would be</i> sp<sup>3</sup>d and sp<sup>3</sup>d<sup>2</sup>, respectively. In these cases, the d-orbitals are thought to be involved. I say <i>would be</i> because hybridisation represents one approach to extending the atomic-orbital descriptions to molecules. We are not suggesting that hybridisation is <i>the</i> approach in the same way that a law (<i>e.g.</i> the laws of thermodynamics) is always applicable under certain conditions.
    </p>
    <p>
        Hybridisation is something which you may find is clearly emphasised in some university-level textbooks but less so in others. If you continue to study this topic in more detail, then you will learn that the hybridisation approach is not the only method applied to building up the electronic structure of polyatomic molecules from atomic orbitals. Hybridisation primarily falls under the umbrella of what is known as Valence bond theory, of which Linus Pauling was a major contributor to its development. What you will find is that valence bond theory is still applied to some extent in modern contexts but is largely superseded by an alternative (more successful though to some, less intuitive) theory, known as Molecular orbital theory. What I am trying to say here is that valence bond theory tends to receive less attention these days so you will learn about it but only up to a point. For example, some first-year university textbooks do not mention sp<sup>3</sup>d and sp<sup>3</sup>d<sup>2</sup> hybridisation because there are more widely accepted models available elsewhere, including molecular orbital theory, which authors (including myself) would rather focus on.
    </p>

    <h3 id="assignHybrids">Hybridisation and geometry</h3>

    <p>
        You can probably see a correlation between the number of bonds/lone pairs and the type of hybridisation. I will use the idea of 'electron domains' or 'electron groups' to demonstrate this further. An electron domain is simply a single bond, a double bond, a triple bond or a <b>lone pair of electrons</b> (this is important). I will leave out unpaired electrons, as well as pentavalent and hexavalent systems, since these examples are very rarely considered at this level. What you do is count the number of electron domains around an atom to predict the type of hybridisation of the atom. See the table below for the summary.
    </p>
    
    <p>
        It might be worth mentioning that terminal atoms (atoms bonded to one atom only) are not assigned a geometry despite some of them undergoing hybridisation. For example, oxygen in carbon dioxide (Figure 9.8) is sp<sup>2</sup>-hybridised but is not assigned a shape, so there is no need to follow the table below in this case. Similarly, nitrogen in hydrogen cyanide HCN is sp-hybridised but has no shape. 
    </p>

    <table class="table-sm table-striped">
        <tr>
            <th>No. of electron domains</th>
            <th>Hybridisation</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>2</td>
            <td>sp</td>
            <td>H-<b>C</b>&#8801N</td>
        </tr>
        <tr>
            <td>3</td>
            <td>sp<sup>2</sup></td>
            <td>(CH<sub>3</sub>)<sub>2</sub><b>C</b>=O</td>
        </tr>
        <tr>
            <td>4</td>
            <td>sp<sup>3</sup></td>
            <td><b>N</b>H<sub>3</sub></td>
        </tr>
    </table>

    <p>
        Note that ammonia NH<sub>3</sub> and water are tetrahedral-based when you also consider the lone pairs present. However, chemists are usually more interested in knowing the relative position of whole atoms (or nuclei) not lone pairs, and so we denote the shape of a molecule by ignoring lone pairs. Ammonia and water are trigonal pyramidal and bent, respectively, when assigning their 'shape'. In addition, the table summarises predictions, not rules, so you will encounter a few exceptions. If you want to know more, look up the hybridisation of the atoms of carboxylic acid derivative functional groups.
    </p>

    <p>
        Why is knowing about the correlation helpful? Well, if you know the number of electron domains (limited to the examples above, of course) of atoms in a molecule, then you will have reasonably good success at predicting both the geometry at the atom in question in addition to the type and placement of bonding electrons. Examine the example given in Figure 9.15. If you were given the structural formula of the molecule then you should be able to visualise the electron distribution (which plane the &#960-bonds reside or where the lone pairs are pointing to, for example) as well as the overall shape of the molecule. Knowing this is one of the first steps to understanding the chemical reactivity of molecules and how molecules collide or line up, as they react.
    </p>

    <figure>
        <img img alt="Predicting the electron distribution and shape of polyatomics" src="images/Fig9_15_molecularReactivity.svg" class="mx-auto img-fluid d-block" style="width: 100%">
        <figurecaption> Figure 9.15 Predicting the electron distribution and shape of polyatomics. The atoms highlighted in red lie in the same plane. The &#960-bonds lie above and below the aforementioned plane.</figurecaption>
    </figure>

    <p>
        I hope you can appreciate that all of the concepts presented so far in this series leads us to better understand the properties of more complicated molecules. While the physical reality of shells and orbitals might be questionable, and their origins somewhat abstract, they do provide very valuable insights into chemical structure and reactivity.
    </p>

    <h3>Concluding remarks</h3>

    <p>
        We have covered a lot of ground in this series. If you made it this far and followed most of what was outlined, then you will have a very firm foundation for future study and certainly experience a smooth transition when reading from more advanced materials.
    </p>
    <p>
        We have looked at how the experimental results from the early 1900s eventually led scientists to develop theories which attempt to describe the wave-like behaviour of electrons. To try to explain the properties of chemical systems on the basis that (a) electrons behave like waves and (b) are found at certain regions around the nucleus, scientists began working on theoretical models (alongside continuing experimental work) proposing <i>theoretical</i> concepts such as shells, subshells and orbitals. The central idea of electronic structure for chemists is the Schr&#246dinger wave equation. At present, the Schr&#246dinger wave equation can only be used to derive the orbitals of hydrogen-like species and not for other atoms or indeed for molecules. Consequently, scientists have had to devise a series of methods which can approximate the electronic structure of non-hydrogen-like species and molecules. We have looked at two ideas, both of which attempt to predict electronic structures:
    <ul>
        <li>One approach which involves the overlap of hydrogen-like atomic orbitals to form molecular orbitals</li>
        <li>Another approach which involves deriving (through hybridisation) new hybrid orbitals from the hydrogen atomic orbitals and then seeing how hybrid orbitals overlap with other orbitals to form molecular orbitals</li>
    </ul>
    <p>
        The approximation methods can yield properties which are in good agreement with experimental data. However, with what we have covered there is still the need for improvement (precise bond angles of systems with lone pairs, for example). In practice, professional chemists still apply approximation methods to get some idea about what is going on while at the same time recognising that the models will not be perfect.
    </p>

<%- include("partials/footer") %>
