<%- include("partials/header") %>
<title>LearningChem - About</title>
<meta name="description" content="Background information to LearningChem">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

    <h1>My background and motivation</h1>
    <p>
      After finishing my chemistry degrees and then spending a short time in industry, I left the UK and headed to China to teach A-level and IBDP chemistry. It was a very memorable and rewarding experience. What was supposed to be two years teaching abroad turned into over nine years! I was learning the craft of teaching on the job and tried to build up the tools to cope with different learning styles and expectations. As I was nearing the end of my teaching career in June 2019, I thought it would be a great side-project if I document my teaching experience and perhaps give other students and teachers ideas which you don't normally find in mainstream textbooks. So here it is.
    </p>
    <p>
      I have always been one to try to further my own understanding of chemistry at any reasonable opportunity, regardless of the fact that I was also teaching chemistry. You know you understand something or not when you teach or explain it, an experience which probably resonates with all teachers and tutors. Understanding is what matters most to me for my students and I try as much as possible to avoid the "you'll learn more about it later" type answer. Unfortunately, there have been a few cases when I have had to respond like this, simply because I had no satisfactory answer in mind or there was not enough time available.
    </p>
    <p>
      A lot of the in-depth (not necessarily more advanced) ideas and methods I taught to my more dedicated students can be written down. That is what LearningChem is about. You can read it whenever you want. The articles are not constrained by publisher requirements or syllabus demands and they apply to any pre-university course. Above all, I hope they make the subject and the <i>learning</i> of the subject more interesting.
    </p>
    <h2>How LearningChem is developed</h2>
    <p>
      Along with figuring out how I can make LearningChem more interactive I also intend to upload more articles when I get time to spare. This is a side-project, offered for free so please do not expect to get access to all articles from the beginning. I hope to cover all of the core areas, including physical, organic and inorganic chemistry. I will not list planned topics because I may change my mind about what/how I write for various reasons. I welcome constructive feedback and will use it to help decide what should be uploaded next. Please see the Contact page for more details.
    </p>

    <h2>To the students</h2>
    <p>
      In the end, if you feel you do not understand something then you should always ask your teacher for advice. However, I am aware that some students are quite independent and so I hope LearningChem supplements the support you already receive. It is not meant to be a replacement. I also encourage you to find other reading materials if you have the time. You will realise (if you have not already) that it is rare to find one source which answers all of your questions.
    </p>
    <p>
      I encouraged my students to develop their understanding early in the year so that it would not interfere with their exam preparations. Having more exposure to in-depth discussions will help you connect the ideas and motivate you during the difficult times (there are bound to be a few). Perhaps you will be considering reading for a degree in chemistry. In which case, you will almost certainly need to understand the fundamental ideas!
    </p>
    <p>
      You have probably come to realise that the principles of chemistry include one or two "special cases". Some observations are not adequately explained at all. Those of you who will go on to degree-level studies will find even then that some areas remain somewhat unexplained and may require graduate (Masters) level treatments and beyond. These special cases arise because we need more background information or we have not developed the theory adequately enough to explain all observations. Sometimes the definitions and notation we devise are part of the problem. An element was once something which cannot be broken down by chemical means. This definition makes you think when you consider the breakdown of ozone O<sub>3</sub> into molecular oxygen O<sub>2</sub> by a reaction with chlorine atoms. I prefer to say an element is a substance made up of atoms with the same atomic number. We then do not need to worry about ions. A group of Mg<sup>2+</sup> ions is also an element. Perhaps this definition will change! I am digressing...
    </p>
    <p>
      Chemistry is a huge subject and the ideas presented here and in your textbook are the result of many, many hours of work from thousands of scientists over the years. At this stage of your career you are provided with the fundamentals which previous scientists spent years agonising over, analysing and interpreting their experimental data. We always need experimental data to evaluate and review our theory. Whenever we encounter something different in chemistry (and science in general) we are always mindful of the theory we propose to explain our observations. I encourage you to do the same as you study chemistry.
    </p>
    <p>I do not intend on recommending textbooks to you. That is not to say, of course, that there are none worth reading. It is probably best that you follow what your future/current university recommends. Once you have enrolled on your degree course you can inspect other titles not on the reading list from the library. You will know when you find something that works for you and then consider buying your own copy, to which I say, go for it!</p>
    <h2>To the teachers</h2>
    <p>
      As a chemistry teacher and Head of Department, I was often asked questions related to the learning and the teaching of chemistry. For me, the gold standard was to teach chemistry entirely in a lab, incorporating practical work with theory. Indeed, this was how I was taught when I studied for my A-levels. However, such facilities are not always available. On average, my students and I could comfortably afford 90 minutes of lab lessons usually every other week from an allocation of about 320 minutes lesson time per week per year. For individual project work, I generally found it beneficial for students to propose a theme that they would like to investigate, and then together the student and I would focus the research topic.
    </p>
    <p>
      There are already a number of very well designed learning resources online and in print. To me, however, very few explore the concepts in depth for the more dedicated students. This is understandable since authors are trying to support all students with different needs and not all students want to know everything. Granted, most students I met were quite content knowing the minimum needed. Finding suitable resources which went further into the concepts (but not too far!) was challenging in my experience. I think we have all gone down the path where we discover another new textbook with some enthusiasm, only to find that the presentation is similar to other books we had previously consulted. What I hope LearningChem achieves is to "fill in more of the gaps" which (to me at least) many mainstream resources do not provide. At some point I too will say to students that what they require will be addressed at university and my articles will be written with this in mind.
    </p>
    <p>
      All teachers will need to read advanced material from time to time, particularly when the syllabus introduces a new topic and current textbooks require updating. Teachers then have to convey the descriptions in ways which students understand. I trained in the UK and therefore I generally say to A-level and IBDP teachers that if they have or are aiming for a solid understanding and recall of a typical first-year UK undergraduate treatment of the subject (this should include physical, inorganic and organic chemistry) then they are probably on the right path. IBDP teachers may need to refer to more specialised literature, depending on which options they decide to teach. AP teachers will focus more on physical chemistry and less on organic chemistry. Needless to say that chemistry is the same wherever you come from or whichever course you teach. All are welcome to refer to LearningChem for support. 
    </p>
    <p>
      I should say to the real experts of the various subfields of chemistry that my priority lies with helping pre-university students understand chemistry on their terms and not as you experts see it. Everything that I have written here has in some way been tested, either with a whole classroom or with individuals.
    </p>
    <p>
      I do not intend on recommending many textbooks to teachers, mostly because (a) my own way of understanding chemistry may differ from yours and (b) I think we all end up taking bits and pieces from a range of texts when preparing lessons. I will recommend two first-year UK university textbooks, <i>Chemistry³: Introducing inorganic, organic and physical chemistry</i> and <i>Chemical Structure and Reactivity: An Integrated Approach</i> since they are both well written, they provide a comprehensive overview of what you should be comfortable with and are different in their approach.
    </p>
    <p>
      The last considerations which I will briefly mention here are exam preparation and practical work. This site will not cover anything related to exam preparation (there are no exam questions) because I am aiming to promote students' understanding. There are already plenty of revision guides and exam preparation materials available. In relation to practical work, I may make passing references when the teaching of a concept can be strengthened with practical work but that is about it.
    </p>

<%- include("partials/footer") %>
