<%- include("partials/header") %>
<title>LearningChem</title>
<meta name="description" content="Articles on the fundamentals of chemistry. For students and teachers of A-level, IBDP, AP and other pre-university level chemistry courses.">
<%- include("partials/navbar") %>
<!-- from EJS 3.0.1, not include partials/header -->

    <h1>Introduction</h1>
    <p>
      Welcome to LearningChem. My aim is to write about the fundamentals of pre-university level chemistry (equivalent to A-level, IBDP and AP) supplementing what is normally provided in standard textbooks and online resources. The site would be of interest mainly to:
    </p>
    <ul>
      <li>Students already on a pre-university course who want to know more</li>
      <li>University students taking their first chemistry course/module, who want to review some of the basics</li>
      <li>Early-career tertiary-level chemistry teachers looking for ways to explain the more difficult concepts</li>
    </ul>
    <p>
      Some prior knowledge, outlined at the beginning of each article, is expected. If you have only just started learning chemistry then you may find the pace of the articles challenging.
    </p>
    <p>As a sample of what is presented, can you see that this molecule is chiral but has no chiral centres? We will be exploring this and many other aspects.</p>
    <img img alt="Chiral biphenyls" src="images/Biphenyls.svg" class="rounded img-fluid mx-auto d-block">
    <p></p>
    <p>
      More information about my background and what to expect can be found on the About and Contact pages. I hope these articles will be of help.
    </p>
    <p>
		Good luck with your studies!
    </p>
    <p>
      James Apps <i>MChem, PhD, MRSC</i>
    </p>


<%- include("partials/footer") %>
